---------------
# Ejercicio 6. Dados los siguientes datos:

-------------------------------------------------------

In [309]:
encoded_labels = [
    0, 1, 2, 3, 0, 4, 5, 6, 2, 1, 3, 0, 5, 4, 6, 1, 2, 5, 4, 3,
    7, 8, 9, 10, 7, 11, 12, 13, 9, 8, 10, 7, 12, 11, 13, 8, 9, 12, 11, 10,
    14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33
]

animal_labels = [
    'cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant', 
    'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',
    'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile', 
    'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', 
    'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl', 
    'hawk', 'eagle'
]

1- Recrear las etiquetas originales a partir de los índices codificados.  
2- Contar la frecuencia de cada etiqueta de animal.  
3- Identificar las etiquetas de animales únicas presentes en los datos.  
4- Determinar el animal más frecuente y el menos frecuente.  
5- Agrupar los animales y contar la frecuencia por grupos (mamíferos, aves, reptiles, etc.).  
6- Identificar la posición de las primeras y últimas ocurrencias de cada animal.  
7- Generar un resumen estadístico de las frecuencias de los animales (media, mediana, desviación estándar).  
8- Filtrar y mostrar solo los animales con una frecuencia mayor que 2.  
9- Encontrar y mostrar las etiquetas de animales que aparecen solo una vez.  
10- Calcular el porcentaje de apariciones de cada animal respecto al total.  
11- Ordenar las etiquetas de animales por frecuencia en orden descendente.  
12- Generar un DataFrame que muestre la frecuencia acumulativa de las etiquetas.

In [310]:
import pandas as pd 

values = pd.Series(encoded_labels)
dim = pd.Series(animal_labels)

print(f'Valores - índice: \n', values)

Valores - índice:
 0      0
1      1
2      2
3      3
4      0
5      4
6      5
7      6
8      2
9      1
10     3
11     0
12     5
13     4
14     6
15     1
16     2
17     5
18     4
19     3
20     7
21     8
22     9
23    10
24     7
25    11
26    12
27    13
28     9
29     8
30    10
31     7
32    12
33    11
34    13
35     8
36     9
37    12
38    11
39    10
40    14
41    15
42    16
43    17
44    18
45    19
46    20
47    21
48    22
49    23
50    24
51    25
52    26
53    27
54    28
55    29
56    30
57    31
58    32
59    33
dtype: int64

In [311]:
print(f'\nDimensiones: \n', dim)

Dimensiones:
 0              cat
1              dog
2             bird
3             fish
4             lion
5            tiger
6             bear
7         elephant
8          giraffe
9            zebra
10        kangaroo
11           koala
12           panda
13          monkey
14           shark
15           whale
16         dolphin
17         penguin
18         ostrich
19       crocodile
20       alligator
21    hippopotamus
22      rhinoceros
23         cheetah
24         leopard
25          jaguar
26            wolf
27             fox
28          rabbit
29        squirrel
30             bat
31             owl
32            hawk
33           eagle
dtype: object

In [312]:
# 1- Recrear las etiquetas originales a partir de los índices codificados.  

df = dim.take(values) #restauro la serie original de cadenas 
df

0              cat
1              dog
2             bird
3             fish
0              cat
4             lion
5            tiger
6             bear
2             bird
1              dog
3             fish
0              cat
5            tiger
4             lion
6             bear
1              dog
2             bird
5            tiger
4             lion
3             fish
7         elephant
8          giraffe
9            zebra
10        kangaroo
7         elephant
11           koala
12           panda
13          monkey
9            zebra
8          giraffe
10        kangaroo
7         elephant
12           panda
11           koala
13          monkey
8          giraffe
9            zebra
12           panda
11           koala
10        kangaroo
14           shark
15           whale
16         dolphin
17         penguin
18         ostrich
19       crocodile
20       alligator
21    hippopotamus
22      rhinoceros
23         cheetah
24         leopard
25          jaguar
26            wolf
27             fox
28          rabbit
29        squirrel
30             bat
31             owl
32            hawk
33           eagle
dtype: object

In [313]:
  # 2- Contar la frecuencia de cada etiqueta de animal.  
  
df.value_counts()

cat             3
elephant        3
dog             3
panda           3
kangaroo        3
zebra           3
giraffe         3
koala           3
tiger           3
lion            3
fish            3
bird            3
bear            2
monkey          2
leopard         1
hawk            1
owl             1
bat             1
squirrel        1
rabbit          1
fox             1
wolf            1
jaguar          1
penguin         1
cheetah         1
rhinoceros      1
hippopotamus    1
alligator       1
crocodile       1
ostrich         1
dolphin         1
whale           1
shark           1
eagle           1
Name: count, dtype: int64

In [314]:
df.shape

(60,)

In [315]:
# 3. Identificar las etiquetas de animales únicas presentes en los datos. 
 
set(df)

{'alligator',
 'bat',
 'bear',
 'bird',
 'cat',
 'cheetah',
 'crocodile',
 'dog',
 'dolphin',
 'eagle',
 'elephant',
 'fish',
 'fox',
 'giraffe',
 'hawk',
 'hippopotamus',
 'jaguar',
 'kangaroo',
 'koala',
 'leopard',
 'lion',
 'monkey',
 'ostrich',
 'owl',
 'panda',
 'penguin',
 'rabbit',
 'rhinoceros',
 'shark',
 'squirrel',
 'tiger',
 'whale',
 'wolf',
 'zebra'}

In [316]:
# 4- Determinar el animal más frecuente y el menos frecuente. 

frecuencias = df.value_counts()
# Obtener el animal más frecuente y el menos frecuente
animal_mas_frecuente = frecuencias.index[0]
animal_menos_frecuente = frecuencias.index[-1]
print(f"El animal más frecuente es: {animal_mas_frecuente}")
print(f"El animal menos frecuente es: {animal_menos_frecuente}")

El animal más frecuente es: cat
El animal menos frecuente es: eagle

In [317]:
# 5- Agrupar los animales y contar la frecuencia por grupos (mamíferos, aves, reptiles, etc.).  

animal_groups = {
    'mammals': ['cat', 'dog', 'lion', 'tiger', 'bear', 'elephant', 'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'onkey', 'cheetah', 'leopard', 'jaguar', 'wolf', 'fox', 'rabbit', 'quirrel'],
    'birds': ['bird', 'ostrich', 'owl', 'hawk', 'eagle'],
    'reptiles': ['crocodile', 'alligator', 'hippopotamus', 'rhinoceros'],
    'fish': ['fish', 'hark', 'whale', 'dolphin']
}

group_counts = {}
for group, animals in animal_groups.items():
    count = sum(1 for label in original_labels if label in animals)
    group_counts[group] = count
print(group_counts)

{'mammals': 38, 'birds': 7, 'reptiles': 4, 'fish': 5}

In [318]:
# 6- Identificar la posición de las primeras y últimas ocurrencias de cada animal
first_occurrences = {}
last_occurrences = {}
for label in unique_labels:
    first_occurrence = original_labels.index(label)
    last_occurrence = len(original_labels) - 1 - original_labels[::-1].index(label)
    first_occurrences[label] = first_occurrence
    last_occurrences[label] = last_occurrence
print(f'first_occurrences: \n', first_occurrences )
print(F'\nlast_occurrences: \n', last_occurrence)

first_occurrences:
 {'crocodile': 45, 'rhinoceros': 48, 'jaguar': 51, 'bear': 7, 'bird': 2, 'whale': 41, 'rabbit': 54, 'panda': 26, 'hippopotamus': 47, 'elephant': 20, 'fox': 53, 'alligator': 46, 'wolf': 52, 'tiger': 6, 'owl': 57, 'dog': 1, 'hawk': 58, 'koala': 25, 'squirrel': 55, 'cat': 0, 'lion': 5, 'ostrich': 44, 'cheetah': 49, 'giraffe': 21, 'dolphin': 42, 'bat': 56, 'shark': 40, 'monkey': 27, 'leopard': 50, 'fish': 3, 'penguin': 43, 'kangaroo': 23, 'zebra': 22, 'eagle': 59}

last_occurrences:
 59

In [319]:
# 7- Generar un resumen estadístico de las frecuencias de los animales (media, mediana, desviación estándar).  

import statistics

mean = statistics.mean(label_counts.values())
median = statistics.median(label_counts.values())
std_deviation = statistics.stdev(label_counts.values())

print(f'Media: {mean}')
print(f'Mediana: {median}')
print(f'Desviación estándar: {std_deviation}')

Media: 1.7647058823529411
Mediana: 1.0
Desviación estándar: 0.9553302944424514

In [320]:
frecuencias = df.value_counts()
print("Resumen estadístico de las frecuencias de los animales:")
print(frecuencias.describe())

Resumen estadístico de las frecuencias de los animales:
count    34.000000
mean      1.764706
std       0.955330
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max       3.000000
Name: count, dtype: float64

In [321]:
# 8- Filtrar y mostrar solo los animales con una frecuencia mayor que 2.
frecuencias = df.value_counts()
frecuencias_filtradas = frecuencias[frecuencias > 2]
print("Animales con frecuencia mayor que 2:")
print(frecuencias_filtradas)

Animales con frecuencia mayor que 2:
cat         3
elephant    3
dog         3
panda       3
kangaroo    3
zebra       3
giraffe     3
koala       3
tiger       3
lion        3
fish        3
bird        3
Name: count, dtype: int64

In [322]:
# 9- Encontrar y mostrar las etiquetas de animales que aparecen solo una vez.  
frecuencias = df.value_counts()
animales_unicos = frecuencias[frecuencias == 1].index

print("Animales que aparecen solo una vez:")
print(animales_unicos)

Animales que aparecen solo una vez:
Index(['leopard', 'hawk', 'owl', 'bat', 'squirrel', 'rabbit', 'fox', 'wolf',
       'jaguar', 'penguin', 'cheetah', 'rhinoceros', 'hippopotamus',
       'alligator', 'crocodile', 'ostrich', 'dolphin', 'whale', 'shark',
       'eagle'],
      dtype='object')

In [323]:
# 10- Calcular el porcentaje de apariciones de cada animal respecto al total.
frecuencias = df.value_counts()
total_apariciones = len(df)
porcentajes = (frecuencias / total_apariciones) * 100

print("Porcentaje de apariciones de cada animal:")
print(porcentajes)

Porcentaje de apariciones de cada animal:
cat             5.000000
elephant        5.000000
dog             5.000000
panda           5.000000
kangaroo        5.000000
zebra           5.000000
giraffe         5.000000
koala           5.000000
tiger           5.000000
lion            5.000000
fish            5.000000
bird            5.000000
bear            3.333333
monkey          3.333333
leopard         1.666667
hawk            1.666667
owl             1.666667
bat             1.666667
squirrel        1.666667
rabbit          1.666667
fox             1.666667
wolf            1.666667
jaguar          1.666667
penguin         1.666667
cheetah         1.666667
rhinoceros      1.666667
hippopotamus    1.666667
alligator       1.666667
crocodile       1.666667
ostrich         1.666667
dolphin         1.666667
whale           1.666667
shark           1.666667
eagle           1.666667
Name: count, dtype: float64

In [324]:
# 11- Ordenar las etiquetas de animales por frecuencia en orden descendente.  
frecuencias = df.value_counts().sort_values(ascending=False)

print("Frecuencias de animales en orden descendente:")
print(frecuencias)

Frecuencias de animales en orden descendente:
cat             3
koala           3
elephant        3
fish            3
lion            3
tiger           3
bird            3
giraffe         3
zebra           3
kangaroo        3
panda           3
dog             3
bear            2
monkey          2
cheetah         1
shark           1
whale           1
dolphin         1
ostrich         1
crocodile       1
alligator       1
hippopotamus    1
rhinoceros      1
bat             1
penguin         1
jaguar          1
wolf            1
fox             1
rabbit          1
squirrel        1
owl             1
hawk            1
leopard         1
eagle           1
Name: count, dtype: int64

In [325]:
# 12- Generar un DataFrame que muestre la frecuencia acumulativa de las etiquetas.
frecuencias = df.value_counts().sort_values(ascending=False)
frecuencias_acumulativas = frecuencias.cumsum().to_frame('Frecuencia Acumulativa')

print("Frecuencia acumulativa de las etiquetas:")
print(frecuencias_acumulativas)

Frecuencia acumulativa de las etiquetas:
              Frecuencia Acumulativa
cat                                3
koala                              6
elephant                           9
fish                              12
lion                              15
tiger                             18
bird                              21
giraffe                           24
zebra                             27
kangaroo                          30
panda                             33
dog                               36
bear                              38
monkey                            40
cheetah                           41
shark                             42
whale                             43
dolphin                           44
ostrich                           45
crocodile                         46
alligator                         47
hippopotamus                      48
rhinoceros                        49
bat                               50
penguin                           51
jaguar                            52
wolf                              53
fox                               54
rabbit                            55
squirrel                          56
owl                               57
hawk                              58
leopard                           59
eagle                             60

-------------------------
# Ejercicio 7. Análisis de Tipos de Productos en una Tienda
--------------------------------

1- Llevar el dicionario a un dataframe y mostrarlo.  
2- Consultar los tipos de datos de cada columna.  
3- Convertir la Columna category a Tipo Categórico.    
4- Acceder a las Categorías y Códigos (cat.categories y cat.codes)

In [326]:
### Partiendo del siguiente diccionario:
data = {
    'product_id': [1, 2, 3, 4, 5, 6],
    'product_name': ['apple', 'banana', 'carrot', 'apple', 'banana', 'carrot'],
    'category': ['fruit', 'fruit', 'vegetable', 'fruit', 'fruit', 'vegetable']
}

In [327]:
df = pd.DataFrame(data)
df

   product_id product_name   category
0           1        apple      fruit
1           2       banana      fruit
2           3       carrot  vegetable
3           4        apple      fruit
4           5       banana      fruit
5           6       carrot  vegetable

In [328]:
df.dtypes

product_id       int64
product_name    object
category        object
dtype: object

In [329]:
df['category'] = df['category'].astype('category')
df.dtypes

product_id         int64
product_name      object
category        category
dtype: object

In [330]:
cat = df['category']
print('Categorias: ', cat.cat.categories)
print('Codes: ', cat.cat.codes)

Categorias:  Index(['fruit', 'vegetable'], dtype='object')
Codes:  0    0
1    0
2    1
3    0
4    0
5    1
dtype: int8

----------------------------------------------
# Ejercicio 8. Basado en los siguientes datos:  
-----------------------------
1- Crear un dataframe e imprima un head.  
2- Cambiar el dtype de product_preference a categórico.   
3- Medir el uso de memoria antes y después de convertir a categórico.  
4- Añadir dos categorías más: Orgánico y Keto.  
5- Filtrar los datos para incluir solo preferencias 'Vegano' y 'Ecológico'.  
6- Eliminar categorías no utilizadas en los datos filtrados.  
7- Medir el tiempo de ejecución de `value_counts()` en la columna `product_preference`.  
8- Reordenar las categorías en un orden específico.  
9- Obtener estadísticas descriptivas de la columna categórica.  
10- Agrupar los datos por `product_preference` y contar el número de consumidores en cada categoría.  
11- Transformar categorías a números utilizando `cat.codes`.

In [331]:
data = {
    'consumer_id': range(1, 21),
    'product_preference': [
        'Vegano', 'Ecológico', 'Sin Gluten', 'Normal', 'Ecológico',
        'Vegano', 'Normal', 'Sin Gluten', 'Vegano', 'Ecológico',
        'Normal', 'Ecológico', 'Sin Gluten', 'Vegano', 'Normal',
        'Vegano', 'Sin Gluten', 'Normal', 'Normal', 'Vegano'
    ]
}

In [332]:
df = pd.DataFrame(data)
df.head(5)

   consumer_id product_preference
0            1             Vegano
1            2          Ecológico
2            3         Sin Gluten
3            4             Normal
4            5          Ecológico

In [333]:
df.dtypes

consumer_id            int64
product_preference    object
dtype: object

In [334]:
df1 = df.copy()

In [335]:
df['product_preference'] = df['product_preference'].astype('category')
df1.dtypes

consumer_id            int64
product_preference    object
dtype: object

In [336]:
memory_before = df1.memory_usage(deep=True).sum()
print(f"Memory usage before converting to categorical: {memory_before} bytes")

memory_after = df.memory_usage(deep=True).sum()
print(f"Memory usage after converting to categorical: {memory_after} bytes")

Memory usage before converting to categorical: 1720 bytes
Memory usage after converting to categorical: 778 bytes

In [337]:
df.dtypes

consumer_id              int64
product_preference    category
dtype: object

In [338]:
df.head(4)

   consumer_id product_preference
0            1             Vegano
1            2          Ecológico
2            3         Sin Gluten
3            4             Normal

In [339]:
new_categories = ['Orgánico', 'Keto']
df['product_preference'] = df['product_preference'].cat.set_categories(list(set(df['product_preference'].cat.categories) | set(new_categories)))

df.loc[20, 'product_preference'] = 'Orgánico'
df.loc[21, 'product_preference'] = 'Keto'

display(df)

    consumer_id product_preference
0           1.0             Vegano
1           2.0          Ecológico
2           3.0         Sin Gluten
3           4.0             Normal
4           5.0          Ecológico
5           6.0             Vegano
6           7.0             Normal
7           8.0         Sin Gluten
8           9.0             Vegano
9          10.0          Ecológico
10         11.0             Normal
11         12.0          Ecológico
12         13.0         Sin Gluten
13         14.0             Vegano
14         15.0             Normal
15         16.0             Vegano
16         17.0         Sin Gluten
17         18.0             Normal
18         19.0             Normal
19         20.0             Vegano
20          NaN           Orgánico
21          NaN               Keto

In [340]:
df.shape

(22, 2)

In [341]:
df_filtrado = df[df['product_preference'].isin(['Vegano', 'Ecológico'])]
df_filtrado

    consumer_id product_preference
0           1.0             Vegano
1           2.0          Ecológico
4           5.0          Ecológico
5           6.0             Vegano
8           9.0             Vegano
9          10.0          Ecológico
11         12.0          Ecológico
13         14.0             Vegano
15         16.0             Vegano
19         20.0             Vegano

In [342]:
df_filtrado['product_preference'] = df_filtrado['product_preference'].cat.remove_unused_categories()
print(df_filtrado['product_preference'].cat.categories)

Index(['Vegano', 'Ecológico'], dtype='object')

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_17252\2185128107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['product_preference'] = df_filtrado['product_preference'].cat.remove_unused_categories()

In [343]:
%timeit df_filtrado['product_preference'].value_counts()

275 µs ± 44 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [344]:
df_filtrado['product_preference'] = df_filtrado['product_preference'].cat.reorder_categories(['Vegano', 'Ecológico'])
print(df_filtrado['product_preference'].cat.categories)

Index(['Vegano', 'Ecológico'], dtype='object')

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_17252\3596646087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['product_preference'] = df_filtrado['product_preference'].cat.reorder_categories(['Vegano', 'Ecológico'])

In [345]:
print(df_filtrado['product_preference'].describe())

count         10
unique         2
top       Vegano
freq           6
Name: product_preference, dtype: object

In [346]:
print(df_filtrado.groupby('product_preference')['consumer_id'].count())

product_preference
Vegano       6
Ecológico    4
Name: consumer_id, dtype: int64

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_17252\3574680607.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df_filtrado.groupby('product_preference')['consumer_id'].count())

In [347]:
print(df_filtrado['product_preference'].cat.codes)

0     0
1     1
4     1
5     0
8     0
9     1
11    1
13    0
15    0
19    0
dtype: int8