## Ejercicios de la clase

In [40]:
portero = 'Casillas'

defensas = ['Capdevila', 'Piqué', ' Puyol ', 'Ramos' ]

mediocampistas = ['Xavi', 'Busquets', 'X.Alonso']

delanteros = [ 'Iniesta', 'Villa', 'Pedro']

In [41]:
equipo = [portero, defensas, mediocampistas, delanteros]
equipo

['Casillas',
 ['Capdevila', 'Piqué', ' Puyol ', 'Ramos'],
 ['Xavi', 'Busquets', 'X.Alonso'],
 ['Iniesta', 'Villa', 'Pedro']]

In [42]:
equipo [1]

['Capdevila', 'Piqué', ' Puyol ', 'Ramos']

In [43]:
equipo [1][0]

'Capdevila'

In [44]:
lst = [12, 15, 13, 23, 22, 16, 17]
print(lst.append(22))
print(lst.remove(13))
print(lst.remove(17))

print(lst.pop()) # remueve el último ítem de la lista
print(lst.pop(3)) # remueve eL tercer ítem de la Lista
print(lst.insert(3,21))
print(lst.count(23)) # deuveLve el número de veces que aparece el numero 23 en La Lista

idx = lst.index(23) # retorna el índice del ítem
idx1 = lst.index(12) # retorna un valueError dado que eL 5e no se encuentra en la Lista

None
None
None
22
22
None
1

# LISTAS POR COMPRENSIÓN

![Texto alternativo](./imagenes/listas_comprensión.PNG)

In [45]:
valores = '32,45,11,87,20,48'
enteros = []

for valor in valores.split(','):
    valor_entero = int(valor)
    enteros.append(valor_entero)

In [46]:
enteros

[32, 45, 11, 87, 20, 48]

In [47]:
#Utilizamos una lista por comprensión: 
valores = '32,45,11,87,20,48'
enteros = [int(valor) for valor in valores.split(',')]
enteros

[32, 45, 11, 87, 20, 48]

![Texto alternativo](./imagenes/Comprehension.PNG)

### Condiciones en comprensiones

In [48]:
values = '32,45,11,87,20,48'
int_values = [int(v) for v in values.split(',') if v.startswith('4')]

In [49]:
int_values

[45, 48]

### Anidamiento en comprensiones

In [50]:
# Es posible usar bucles anidados

valores = '32,45,11,87,20,48'
svalores=valores.split(',')

combinaciones = [f'{v1}x{v2}' for v1, v2 in svalores]

In [51]:
combinaciones

['3x2', '4x5', '1x1', '8x7', '2x0', '4x8']

In [52]:
resultado = [5*x + 1 for x in range(24)]
print(resultado)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96, 101, 106, 111, 116]

### Funciones Matemáticas

In [53]:
#Suma de data
data = [5, 3, 2, 8, 9, 1]
sum(data)

28

In [54]:
print(min(data))
print(max(data))

1
9

### Listas de listas

In [55]:
portero = 'Casillas'
defensas = ['Capdevila', 'Piqué', ' Puyol' , 'Ramos']
mediocampistas = ['Xavi', 'Busquets' , 'X-Alonso']
delanteros = ['Iniesta' , 'Villa', 'Pedro']

In [56]:
equipo = [portero, defensas, mediocampistas, delanteros]
equipo

['Casillas',
 ['Capdevila', 'Piqué', ' Puyol', 'Ramos'],
 ['Xavi', 'Busquets', 'X-Alonso'],
 ['Iniesta', 'Villa', 'Pedro']]

In [57]:
equipo[1][0] #primer defensa

'Capdevila'

In [58]:
equipo[0] #portero

'Casillas'

In [59]:
equipo[2] #mediocampistas

['Xavi', 'Busquets', 'X-Alonso']

### Ejercicio # 4 Escriba un programa que permita multiplicar matrices de 2 filas por 2 columnas.

In [60]:
A = [[6, 4], [8, 9]]
B = [[3, 2], [1, 7]]

if len(A)!= 2 or len(A[0])!= 2 or len(B)!= 2 or len(B[0])!= 2:
    print("Error: Las matrices deben tener 2 filas y 2 columnas")
else:
    C = [[A[0][0]*B[0][0] + A[0][1]*B[1][0], A[0][0]*B[0][1] + A[0][1]*B[1][1]],
         [A[1][0]*B[0][0] + A[1][1]*B[1][0], A[1][0]*B[0][1] + A[1][1]*B[1][1]]]

    print("La matriz A es:")
    for fila in A:
        print(fila)
    print("La matriz B es:")
    for fila in B:
        print(fila)
    print("La matriz resultado es:")
    for fila in C:
        print(fila)

La matriz A es:
[6, 4]
[8, 9]
La matriz B es:
[3, 2]
[1, 7]
La matriz resultado es:
[22, 40]
[33, 79]

# TUPLAS  

---> Son inmutables

In [61]:
empty_tuple = ()

tenerif_geolog = (28.3534, -16.23534)
three_wise_men = ('Melchor', 'Gaspar', 'Baltasar')

In [62]:
#Modificando Tuplas ---> NO SE PUEDE SON INMUTABLES 
three_wise_men[0]= 'Tom Hanks'

TypeError: 'tuple' object does not support item assignment

In [1]:
#De lista la convierto a tupla
shop = ['agua', 'aceite', 'arroz']
tuple(shop)

('agua', 'aceite', 'arroz')

In [4]:
#Desempaquetado de tuplas

a = ('Melchor', 'Gaspar', 'Baltasar')

king1, king2, king3 = a

print(king1)
print(king2)
print(king3)

Melchor
Gaspar
Baltasar

### Intercambio de valores

In [5]:
valores = (40,20)
valor1, valor2 = valores 
print(f'El valor de valor1 antes de intercambiar: {valor1}')

valor1, valor2 = valor2, valor1
print(f'El valor de valor1 después de intercambiar: {valor1}')

El valor de valor1 antes de intercambiar: 40
El valor de valor1 después de intercambiar: 20

### Desempaquetado extendido

In [14]:
ranking = ('G', 'A', 'R', 'R', 'Y')


head, *body, tail = ranking 



print(f'Desempaqueto a la tupla asignandole una variable, head: \n{head}\n')


print(f'\nDesempaqueto el body de la tupla asignandole una variable, body: {body}')


print(f'\nDesempaqueto el último valor de la tupla asignandole una variable, tail: {tail}')

Desempaqueto a la tupla asignandole una variable, head:
G


Desempaqueto el body de la tupla asignandole una variable, body: ['A', 'R', 'R']

Desempaqueto el último valor de la tupla asignandole una variable, tail: Y

['A', 'R', 'R']

### Desempaquetado genérico

In [16]:
#Sobre cadenas de texto
oxygen = 'O2'

first , last = oxygen
first, last

('O', '2')

In [18]:
text = 'Hello World!'
head, *body, tail = text 
head, body, tail

('H', ['e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'], '!')

In [19]:
# Sobre Listas:

writer1, writer2, writer3 = ['Virginia Wolf', 'Jane Austen', 'Mary Shelly']
writer1, writer2, writer3

('Virginia Wolf', 'Jane Austen', 'Mary Shelly')

In [20]:
text  = 'Hello, World!'
word1, word2 = text.split()
word1, word2

('Hello,', 'World!')

### Concatenación con Tuplas

In [22]:
Tuple1=(0,1,2,3)
Tuple2=('Geeks','For', 'Geeks')

Tuple3 = Tuple1 + Tuple2

print('Tuple1: ')
print(Tuple1)

print('\nTuple2: ')
print(Tuple2)


print('\nTuples después de la concatenación: ')
print(Tuple3)

Tuple1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples después de la concatenación:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

# PRACTICA 21_ página 93

## l. Crea una tupla con números enteros con algunos de ellos repetidos, pide un numero por teclado e indica cuantas veces se repite si estuviese en la tupla.

In [26]:
enteros = (1,2,3,4,5,3,4,5)

ingresa_numero = int(input('Ingresa un entero por teclado: '))


conteo = enteros.count(ingresa_numero)

print(f'El número {ingresa_numero} se repite {conteo} veces en la tupla.')

El número 5 se repite 2 veces en la tupla.

## 2. Crea una tupla con números e indica el número con mayor valor y el que menor tenga.

In [30]:
enteros = (1,2,3,4,5,3,4,5)

mayor = max(enteros)
menor = min(enteros)

print(f'El número menor:  {menor} y el mayor:  {mayor} en la tupla.')

El número menor:  1 y el mayor:  5 en la tupla.

## 3. Crea una tupla con valores ya predefinidos del I al 10, pide un índice por teclado y muestra los valores de la tupla.

In [37]:
enteros = (11,42,53,64,750,426,27,18,79,10)

ingresa_indice = int(input('Ingresa un indice del 1 al 10: '))

if 1<= ingresa_indice <=10:
    print(f'El valor en el índice {ingresa_indice} es: {enteros[ingresa_indice-1]}') #Utilizo -1 porque la tupla empieza el indice en 0. 
    
else: 
    print('Índice fuera de rango, tiene que estar entre 1 y 10')

El valor en el índice 4 es: 64

## 4. Escribir un código donde se le pide al usuario almacenar en una tupla el día, mes y año (todos en formato entero) y luego que imprima dicha fecha en el formato: "03/07/2023"

In [40]:
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

tupla_fecha = (dia,mes,año)
print(f'{tupla_fecha[0]:02d}/{tupla_fecha[1]:02d}/{tupla_fecha[2]}')

03/11/2025

## 5. Definir una tupla con tres valores enteros. Convertir el contenido de la tupla a tipo lista. Modificar la lista y luego convertir la lista en tupla.

In [47]:
tupla_ent = (1,2,30)

lista = list(tupla_ent)
print(f'La tupla ahora es lista: {lista}')

lista.append(5)
print(f'\nAgrege un elemento a la lista: {lista} ') 

tupla2 = tuple(lista)
print(f'\nAhora la lista es tupla: {tupla2}')

La tupla ahora es lista: [1, 2, 30]

Agrege un elemento a la lista: [1, 2, 30, 5]

Ahora la lista es tupla: (1, 2, 30, 5)

## 6. Crear una tupla y luego imprimirla en orden inverso en otra variable (otra tupla)

In [49]:
tupla='InversO'
print(tupla[::-1])

OsrevnI

## Dala la tupla

tuplel = ("Orange",[10, 20, 30], (5, 15, 25))

Acceder al valor '20' e imprimir en una nueva variable

In [79]:
tuplel = ("Orange",[10, 20, 30],(5, 15, 25))

head, *body, tail = tuplel

type(body)

nueva_variable = body[0][1]
print(f'El número 20 es el elemento 0 (solo tine 1 elemento = 0) de body\n'
      f'y el elemento 1(tiene 3 elemento:0,1,2), la nueva variable es: {nueva_variable}')

nueva_variable2 = body[0][0]

print('------------------------------------')
print(nueva_variable2)

print('------------------------------------')
nv2=tail[2]
print(nv2)

El número 20 es el elemento 0 (solo tine 1 elemento = 0) de body
y el elemento 1(tiene 3 elemento:0,1,2), la nueva variable es: 20
------------------------------------
10
------------------------------------
25

## 8. Escriba un programa para descomprimir Ia siguiente tupla en cuatro variables e imprimir cada variable.
tuple1 = (10, 20, 30, 40)

In [80]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

## 9. Intercambiar dos tuplas en Python dados:

In [82]:
tuple1= (11,22)
tuple2=(99,88)

tuplas = tuple1, tuple2 = tuple2, tuple1
tuplas 

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

## 10. Cuántas veces aparece 777 en la siguiente tupla? Escribir código:

In [85]:
tt = (55,777,54,6,76,7777,1,777,2,6)

print(tt.count(777))

2

## 11. Cual es la suma de todos los números en la siguiente tupla?

In [86]:
tt = (42,1092,11,88,65,2,6)

print(sum(tt))

1306

## 12.  Cuáles son los valores min y max de la siguiente tupla?

In [88]:
tt = (42,1092,11,88,65,2,6)

print(min(tt))

print(max(tt))

2
1092

## 13. Escriba un programa para almacenar el nombre de 5 frutas por parte del usuario, almacenarlo en una tupla y luego imprimir.

In [91]:
frutas = ()

for i in range(5): 
    fruta = str(input('Ingresa el nombre de cinco frutas:  '))
    frutas +=(fruta,)


print(frutas)

('manzana', 'pera', 'uva', 'uvilla', 'lima')

## 14. Considere la siguiente tupla y escriba el código para las siguientes declaraciones:

In [102]:
T1=(12,3,45,'Hockey', 'Anil',('a','b'))

primer_e = T1[0]
print(f'El primer elemnto es: {primer_e}')

ultimo_e=T1[5][1]
print(f'El último elemento es: {ultimo_e}')

print(f'El orden inverso: {T1[::-1]}')

print(f'Nombre Anil: {T1[4]}')

El primer elemnto es: 12
El último elemento es: b
El orden inverso: (('a', 'b'), 'Anil', 'Hockey', 45, 3, 12)
Nombre Anil: Anil

In [103]:
anteultimo_e=T1[5][0]
print(f'El penúltimo elemento es: {anteultimo_e}')

El penúltimo elemento es: a

## 15. Escriba un programa que le pida a un usuario una cadena (string), luego convertirlo a una tupla e imprimir

In [109]:
cadenas = ()

for i in range(5): 
    cadena = str(input('Ingresa cinco letras:  '))
    cadenas +=(cadena,)


print(cadenas)

('e', 'r', 't', 'e', 'c')

In [114]:
palabra = input('Ingrese una palabra: ')

letras = tuple(palabra)
letras

('m', 'a', 'r', 'i', 'a')