-----------------
# **How To Efficiently Download Any Dataset from Kaggle**
----------------

Secuencia de pasos en: https://ravi-chan.medium.com/how-to-download-any-data-set-from-kaggle-7e2adc152d7f 

Fuente de los datos: https://www.kaggle.com/thedevastator/datasets

from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [2]:
import pandas as pd
import os
import opendatasets as od

In [3]:
# Assign the Kaggle data set URL into variable
dataset = 'https://www.kaggle.com/datasets/thedevastator/oecd-global-crude-oil-imports-prices'
# Using opendatasets let's download the data sets
od.download(dataset)

Skipping, found downloaded files in ".\oecd-global-crude-oil-imports-prices" (use force=True to force download)

In [4]:
data_dir = '.\oecd-global-crude-oil-imports-prices'

In [5]:
os.listdir(data_dir)

['crude_oil_import_prices.csv']

In [6]:
df = pd.read_csv('oecd-global-crude-oil-imports-prices\\crude_oil_import_prices.csv')

In [7]:
df

,index,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,0,AUS,OILIMPPRICE,TOT,USD_BAR,A,1980,31.81,NaN
1,1,AUS,OILIMPPRICE,TOT,USD_BAR,A,1981,35.88,NaN
2,2,AUS,OILIMPPRICE,TOT,USD_BAR,A,1982,35.42,NaN
3,3,AUS,OILIMPPRICE,TOT,USD_BAR,A,1983,30.88,NaN
4,4,AUS,OILIMPPRICE,TOT,USD_BAR,A,1984,29.19,NaN
...,...,...,...,...,...,...,...,...,...
17355,17355,LUX,OILIMPPRICE,TOT,USD_BAR,M,2016-02,NaN,M
17356,17356,LUX,OILIMPPRICE,TOT,USD_BAR,M,2016-03,NaN,M
17357,17357,LUX,OILIMPPRICE,TOT,USD_BAR,M,2016-04,NaN,M
17358,17358,LUX,OILIMPPRICE,TOT,USD_BAR,M,2016-05,NaN,M
17359,17359,LUX,OILIMPPRICE,TOT,USD_BAR,M,2016-06,NaN,M

In [12]:
df.describe()

              index        Value
count  17360.000000  9734.000000
mean    8679.500000    41.376256
std     5011.544672    31.575795
min        0.000000     2.330000
25%     4339.750000    18.350000
50%     8679.500000    28.560000
75%    13019.250000    56.265000
max    17359.000000   142.290000

In [9]:
df['FREQUENCY'].value_counts()

FREQUENCY
M    12264
Q     4088
A     1008
Name: count, dtype: int64