# Limpieza y preparaci√≥n de datos

## 2.1 Tratamiento de los datos que faltan

Valor centinela (sentinel value) =  valor ausente (o nulo)

In [2]:
import pandas as pd
import numpy as np

### Flotantes

In [3]:
float_data = pd.Series(
    [100.8, -30.5, 67, 101.9, -7.2, 
     -400, np.nan, 0, np.nan]
    )

In [4]:
float_data

0    100.8
1    -30.5
2     67.0
3    101.9
4     -7.2
5   -400.0
6      NaN
7      0.0
8      NaN
dtype: float64

In [5]:
float_data.isna() # devuelve serie booleana, True si tiene nulos

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8     True
dtype: bool

### String - cadenas

In [6]:
string_data = pd.Series(['abcd', np.nan, None, 'dfeg', None, 'pyhton', None])

string_data

0      abcd
1       NaN
2      None
3      dfeg
4      None
5    pyhton
6      None
dtype: object

In [7]:
string_data.isna()

0    False
1     True
2     True
3    False
4     True
5    False
6     True
dtype: bool

### Flotantes

In [8]:
float_data = pd.Series([None, 1, 2, None, 3, np.nan], dtype='float64')
float_data

0    NaN
1    1.0
2    2.0
3    NaN
4    3.0
5    NaN
dtype: float64

In [9]:
float_data.isna()

0     True
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [10]:
float_data.dropna() #Elimina nulos

1    1.0
2    2.0
4    3.0
dtype: float64

### Filtrar los datos que faltan

In [11]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7, 2.7, np.nan, 9.1, 800, np.nan])
data

0      1.0
1      NaN
2      3.5
3      NaN
4      7.0
5      2.7
6      NaN
7      9.1
8    800.0
9      NaN
dtype: float64

In [12]:
data[data.notna()]

0      1.0
2      3.5
4      7.0
5      2.7
7      9.1
8    800.0
dtype: float64

In [13]:
data.dropna()

0      1.0
2      3.5
4      7.0
5      2.7
7      9.1
8    800.0
dtype: float64

==============================================================================

In [14]:
data = pd.DataFrame([[1., 700, 6.5, 100, 3.], [1., np.nan, np.nan, 300, 900],
             [300, np.nan, 400, np.nan, np.nan],
             [300, 6.5, 3., 500., 900], 
             [np.nan, 100, 400, 600, 800],
             [np.nan, np.nan, np.nan, np.nan, np.nan]])

data

       0      1      2      3      4
0    1.0  700.0    6.5  100.0    3.0
1    1.0    NaN    NaN  300.0  900.0
2  300.0    NaN  400.0    NaN    NaN
3  300.0    6.5    3.0  500.0  900.0
4    NaN  100.0  400.0  600.0  800.0
5    NaN    NaN    NaN    NaN    NaN

`dropna()` por defecto elimina cualquier FILA que contenga un valor perdido:

In [15]:
data.dropna()

       0      1    2      3      4
0    1.0  700.0  6.5  100.0    3.0
3  300.0    6.5  3.0  500.0  900.0

Si se pasa `how="all"`, s√≥lo se eliminar√°n las filas que sean todas NA:

In [16]:
data.dropna(how="all")

       0      1      2      3      4
0    1.0  700.0    6.5  100.0    3.0
1    1.0    NaN    NaN  300.0  900.0
2  300.0    NaN  400.0    NaN    NaN
3  300.0    6.5    3.0  500.0  900.0
4    NaN  100.0  400.0  600.0  800.0

In [17]:
data[5] = np.nan #Agrego nueva columna, la 5 con todos sus valores NaN 
data

       0      1      2      3      4   5
0    1.0  700.0    6.5  100.0    3.0 NaN
1    1.0    NaN    NaN  300.0  900.0 NaN
2  300.0    NaN  400.0    NaN    NaN NaN
3  300.0    6.5    3.0  500.0  900.0 NaN
4    NaN  100.0  400.0  600.0  800.0 NaN
5    NaN    NaN    NaN    NaN    NaN NaN

In [18]:
data.dropna(axis="columns", how="all") 
#Uso con dropna (axis= 'columns') ---> para eliminar datos de una columna 
#Uso con dropna (axis= 'rows') ---> para eliminar datos de una fila
#Uso how='all' ---> Para eliminar todos los datos siempre que sean nulos

       0      1      2      3      4
0    1.0  700.0    6.5  100.0    3.0
1    1.0    NaN    NaN  300.0  900.0
2  300.0    NaN  400.0    NaN    NaN
3  300.0    6.5    3.0  500.0  900.0
4    NaN  100.0  400.0  600.0  800.0
5    NaN    NaN    NaN    NaN    NaN

=======================================================================

In [19]:
df = pd.DataFrame(np.random.standard_normal((7, 3)))
# Crea dataframe con 6 columnas y 3 filas

In [20]:
df

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994 -0.096676  1.167637
2 -0.600723  0.002118  0.945123
3  1.384015  0.480928 -0.538316
4  0.475776  0.520785 -0.475529
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

In [21]:
df.iloc[1:4, 1] = np.nan # Asigna np.nan a las filas 1 hasta la 3 en la columna 1
df.iloc[2:5, 2] = np.nan #Asigna np.nan a las filas 2 hasta la 4 en la columna 2

In [22]:
df

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994       NaN  1.167637
2 -0.600723       NaN       NaN
3  1.384015       NaN       NaN
4  0.475776  0.520785       NaN
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

In [23]:
df.dropna() #Elimina filas con nulos

          0         1         2
0  0.144478  0.011884  0.242829
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

Con `thresh`, especifica el n√∫mero m√≠nimo de valores no nulos que deben estar presentes en una FILA o COLUMNA para que no sea eliminada.

In [24]:
df.dropna(thresh=2) #una fila debe tener al menos 2 valores no nulos para que no sea eliminada

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994       NaN  1.167637
4  0.475776  0.520785       NaN
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

In [25]:
df

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994       NaN  1.167637
2 -0.600723       NaN       NaN
3  1.384015       NaN       NaN
4  0.475776  0.520785       NaN
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

In [26]:
df.dropna(thresh=5, axis=1)
#Elimina las columnas que no tienen al menos 5 valores NO NULOS .

          0
0  0.144478
1  0.078994
2 -0.600723
3  1.384015
4  0.475776
5 -1.616989
6 -0.053996

### Rellenar los datos que faltan

In [27]:
df

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994       NaN  1.167637
2 -0.600723       NaN       NaN
3  1.384015       NaN       NaN
4  0.475776  0.520785       NaN
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

In [28]:
df.fillna(0) # Rellena los NaN con cero

          0         1         2
0  0.144478  0.011884  0.242829
1  0.078994  0.000000  1.167637
2 -0.600723  0.000000  0.000000
3  1.384015  0.000000  0.000000
4  0.475776  0.520785  0.000000
5 -1.616989  0.351939 -0.621924
6 -0.053996 -1.179206 -0.973546

Llamando a `fillna()` con un diccionario, puede utilizar un valor de relleno diferente para cada columna:

In [29]:
df.fillna({1: 400, 2: 500})

          0           1           2
0  0.144478    0.011884    0.242829
1  0.078994  400.000000    1.167637
2 -0.600723  400.000000  500.000000
3  1.384015  400.000000  500.000000
4  0.475776    0.520785  500.000000
5 -1.616989    0.351939   -0.621924
6 -0.053996   -1.179206   -0.973546

==========================================================================================

Los mismos m√©todos de interpolaci√≥n disponibles para la reindexaci√≥n pueden utilizarse con `fillna()`:

In [30]:
df = pd.DataFrame(np.random.standard_normal((7, 4)))

In [31]:
df.iloc[2:6, 0] = np.nan
df.iloc[4:, 2] = np.nan
df

          0         1         2         3
0  0.863736  1.597964 -1.240931  0.278419
1  0.126226  0.520450  0.133521  0.836273
2       NaN  0.132778 -2.293522 -0.524990
3       NaN  1.096970  0.507357  0.656633
4       NaN -2.631458       NaN  0.188368
5       NaN  1.219062       NaN  2.111522
6  0.315611  1.411140       NaN -0.168688

In [32]:
df.fillna(method="ffill") # Rellena nuloscon el primer valor de la columna antes del nulo

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\3422287613.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill") # Rellena nuloscon el primer valor de la columna antes del nulo

          0         1         2         3
0  0.863736  1.597964 -1.240931  0.278419
1  0.126226  0.520450  0.133521  0.836273
2  0.126226  0.132778 -2.293522 -0.524990
3  0.126226  1.096970  0.507357  0.656633
4  0.126226 -2.631458  0.507357  0.188368
5  0.126226  1.219062  0.507357  2.111522
6  0.315611  1.411140  0.507357 -0.168688

In [33]:
df

          0         1         2         3
0  0.863736  1.597964 -1.240931  0.278419
1  0.126226  0.520450  0.133521  0.836273
2       NaN  0.132778 -2.293522 -0.524990
3       NaN  1.096970  0.507357  0.656633
4       NaN -2.631458       NaN  0.188368
5       NaN  1.219062       NaN  2.111522
6  0.315611  1.411140       NaN -0.168688

In [34]:
df.fillna(method="ffill", limit=2) # Solo rellena 2 nulos por cada columna

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\3242824178.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", limit=2) # Solo rellena 2 nulos por cada columna

          0         1         2         3
0  0.863736  1.597964 -1.240931  0.278419
1  0.126226  0.520450  0.133521  0.836273
2  0.126226  0.132778 -2.293522 -0.524990
3  0.126226  1.096970  0.507357  0.656633
4       NaN -2.631458  0.507357  0.188368
5       NaN  1.219062  0.507357  2.111522
6  0.315611  1.411140       NaN -0.168688

==========================================================================================

`fillna()` = imputaci√≥n simple de datos utilizando la mediana o la media estad√≠stica

In [35]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7, np.nan, np.nan])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
5    NaN
6    NaN
dtype: float64

In [36]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
5    3.833333
6    3.833333
dtype: float64

__________________________

## Transformaci√≥n de datos

### Remover duplicados

In [37]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2":[1, 1, 2, 3, 3, 4, 4]})

In [38]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [39]:
data.duplicated() #Devuelve serie booleana

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [40]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [41]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [42]:
# A√±adimos una tercera columna
data["v1"] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

Elimina las filas duplicadas bas√°ndose en los valores de la columna "k1". La primera aparici√≥n de cada valor √∫nico en "k1" se conserva, y las filas subsecuentes con el mismo valor en "k1" se eliminan.

In [43]:
data.drop_duplicates(subset=["k1"]) #Elimin√≥ duplicados y dej√≥ por defecto la 1ra fila de cada duplicado

    k1  k2  v1
0  one   1   0
1  two   1   1

In [44]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [45]:
data.drop_duplicates(["k1", "k2"], keep="last") #Elimina duplicados de  k1 y k2 y deja el √∫ltimo

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

-------------------------------

### Transformaci√≥n de datos mediante una `Function` o `Mapping`

In [46]:
data = pd.DataFrame({"food": ["bacon", "pulled pork",
                              "bacon","pastrami", "corned beef",
                              "bacon", "pastrami", "honey ham",
                              "nova lox", "bacon", "bacon"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6, 20, 30]})
data

           food  ounces
0         bacon     4.0
1   pulled pork     3.0
2         bacon    12.0
3      pastrami     6.0
4   corned beef     7.5
5         bacon     8.0
6      pastrami     3.0
7     honey ham     5.0
8      nova lox     6.0
9         bacon    20.0
10        bacon    30.0

A√±adimos una columna

In [47]:
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon",
}

El m√©todo `map` MAPEO los valores de la columna food y los reemplaza dependiendo de los valores del diccionario meat_to_animal, y crea una nueva columna 'animal' con lo datos ya mapeados.

In [48]:
data["animal"] = data["food"].map(meat_to_animal)
data

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
2         bacon    12.0     pig
3      pastrami     6.0     cow
4   corned beef     7.5     cow
5         bacon     8.0     pig
6      pastrami     3.0     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon
9         bacon    20.0     pig
10        bacon    30.0     pig

In [49]:
def get_animal(x):
    return meat_to_animal[x]

data["animal"] = data["food"].map(get_animal)
data

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
2         bacon    12.0     pig
3      pastrami     6.0     cow
4   corned beef     7.5     cow
5         bacon     8.0     pig
6      pastrami     3.0     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon
9         bacon    20.0     pig
10        bacon    30.0     pig

--------------------

### Sustituci√≥n de valores

In [50]:
data = pd.Series([1., -999., 2., -999., -1000., 3., 100, np.nan])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
6     100.0
7       NaN
dtype: float64

In [51]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
6     100.0
7       NaN
dtype: float64

In [52]:
data.replace([-999, -1000], np.nan)

0      1.0
1      NaN
2      2.0
3      NaN
4      NaN
5      3.0
6    100.0
7      NaN
dtype: float64

In [53]:
data.replace([-999, -1000], [np.nan, 0])

0      1.0
1      NaN
2      2.0
3      NaN
4      0.0
5      3.0
6    100.0
7      NaN
dtype: float64

In [54]:
data.replace({-999: np.nan, -1000: 0})

0      1.0
1      NaN
2      2.0
3      NaN
4      0.0
5      3.0
6    100.0
7      NaN
dtype: float64

------------------------

### Renombrar √≠ndices de ejes

In [55]:
data = pd.DataFrame(np.arange(20).reshape((4, 5)),
                    index=["Ohio", "Colorado", "New York", "Ecuador"],
                    columns=["one", "two", "three", "four", "ten"])
                    
data

          one  two  three  four  ten
Ohio        0    1      2     3    4
Colorado    5    6      7     8    9
New York   10   11     12    13   14
Ecuador    15   16     17    18   19

In [56]:
def transform(x):
    return x[:4].upper()

data.index.map(transform)
#Index(['OHIO', 'COLO', 'NEW '], dtype='object')

Index(['OHIO', 'COLO', 'NEW ', 'ECUA'], dtype='object')

In [57]:
data

          one  two  three  four  ten
Ohio        0    1      2     3    4
Colorado    5    6      7     8    9
New York   10   11     12    13   14
Ecuador    15   16     17    18   19

In [58]:
data.index = data.index.map(transform)
data

      one  two  three  four  ten
OHIO    0    1      2     3    4
COLO    5    6      7     8    9
NEW    10   11     12    13   14
ECUA   15   16     17    18   19

In [59]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR  TEN
Ohio    0    1      2     3    4
Colo    5    6      7     8    9
New    10   11     12    13   14
Ecua   15   16     17    18   19

In [60]:
data.rename(index={"OHIO": "Madrid"},
            columns={"three": "tres"})

        one  two  tres  four  ten
Madrid    0    1     2     3    4
COLO      5    6     7     8    9
NEW      10   11    12    13   14
ECUA     15   16    17    18   19

------------------------------------

### Discretizaci√≥n y `binning`

Convertir datos continuos en discretos. 

T√©cnicas de PREPROCESAMIENTO DE DATOS = La discretizaci√≥n y el binning

> Discretizaci√≥n ---> Convierte datos continuos en datos categ√≥ricos dividiendo el rango de valores continuos en intervalos (bins).

> Binning ---> agrupa los datos en intervalos, o `"bins"`.

In [61]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32, 80, 100, 101, 1, 4, 77, 44, 88, 87, 92, 104]

In [62]:
bins = [10, 20, 30, 40, 50 ,60, 70, 80, 90, 100, 110]

In [63]:
age_categories = pd.cut(ages, bins)

In [64]:
age_categories

[(10, 20], (20, 30], (20, 30], (20, 30], (20, 30], ..., (40, 50], (80, 90], (80, 90], (90, 100], (100, 110]]
Length: 23
Categories (10, interval[int64, right]): [(10, 20] < (20, 30] < (30, 40] < (40, 50] ... (70, 80] < (80, 90] < (90, 100] < (100, 110]]

El objeto que pandas devuelve es un objeto `Categorical` especial. La salida que se ve describe los bins calculados por `pandas.cut`. Cada bin se identifica por un tipo de valor de intervalo especial (√∫nico en pandas) que contiene el l√≠mite inferior y superior de cada bin:

In [65]:
age_categories.codes

array([ 0,  1,  1,  1,  1,  1,  2,  2,  5,  3,  3,  2,  6,  8,  9, -1, -1,
        6,  3,  7,  7,  8,  9], dtype=int8)

In [66]:
age_categories.categories

IntervalIndex([  (10, 20],   (20, 30],   (30, 40],   (40, 50],   (50, 60],
                 (60, 70],   (70, 80],   (80, 90],  (90, 100], (100, 110]],
              dtype='interval[int64, right]')

In [67]:
age_categories.categories[0]

Interval(10, 20, closed='right')

In [68]:
pd.value_counts(age_categories)

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\3010498523.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(age_categories)

(20, 30]      5
(30, 40]      3
(40, 50]      3
(70, 80]      2
(80, 90]      2
(90, 100]     2
(100, 110]    2
(10, 20]      1
(60, 70]      1
(50, 60]      0
Name: count, dtype: int64

In [69]:
pd.cut(ages, bins, right=False)

[[20, 30), [20, 30), [20, 30), [20, 30), [20, 30), ..., [40, 50), [80, 90), [80, 90), [90, 100), [100, 110)]
Length: 23
Categories (10, interval[int64, left]): [[10, 20) < [20, 30) < [30, 40) < [40, 50) ... [70, 80) < [80, 90) < [90, 100) < [100, 110)]

In [70]:
data = np.random.uniform(size=20)
data

array([0.95848018, 0.65708787, 0.86658914, 0.78184018, 0.54376347,
       0.63082504, 0.38426943, 0.89796208, 0.290644  , 0.96127923,
       0.73587681, 0.68413314, 0.86191452, 0.75411735, 0.58097998,
       0.59816618, 0.79914479, 0.43049885, 0.34209414, 0.32066985])

In [71]:
pd.cut(data, 4, precision=2)

[(0.79, 0.96], (0.63, 0.79], (0.79, 0.96], (0.63, 0.79], (0.46, 0.63], ..., (0.46, 0.63], (0.79, 0.96], (0.29, 0.46], (0.29, 0.46], (0.29, 0.46]]
Length: 20
Categories (4, interval[float64, right]): [(0.29, 0.46] < (0.46, 0.63] < (0.63, 0.79] < (0.79, 0.96]]

============================================================================

In [72]:
data = np.random.standard_normal(1000)
data

array([ 1.64839945e+00, -7.28946569e-01,  5.72544143e-02,  3.43823538e-01,
       -5.59727139e-01,  1.92112087e-01, -4.11939532e-01,  7.74662633e-01,
        1.32471286e+00,  2.19118876e+00, -4.61452407e-02,  3.30905725e-01,
       -4.48823698e-01, -1.69643085e+00,  1.40478298e+00,  2.23817987e-02,
       -3.07252963e-01,  7.12730104e-01, -3.32668009e-01, -5.26632073e-01,
        2.28710124e+00,  4.31122052e-01, -1.51113947e+00, -1.78354444e-01,
        4.13706743e-01,  8.84026674e-01, -5.46937344e-01,  6.96749466e-01,
        3.41408325e-01,  1.23682710e+00,  3.08658982e-01,  1.01345726e+00,
       -1.74824562e-02,  8.70037111e-01,  1.07311954e+00,  1.50408434e-02,
        7.91789035e-01,  2.65560432e-01, -7.07919961e-01,  3.38467553e-01,
        7.80840039e-02,  1.96033668e+00, -3.03179801e-01,  3.45616399e-01,
       -4.74922820e-01, -1.51915757e+00,  1.21024628e-02,  5.19207186e-03,
        9.66544275e-01,  9.48847357e-01, -6.18328364e-01, -4.21485975e-01,
       -1.06007593e+00,  4.92237767e-02,  4.64384831e-01, -1.90436244e+00,
        3.15739503e-01,  1.68984776e+00, -6.15332329e-01,  6.33598693e-01,
        1.22084514e+00,  2.01126985e-01, -6.66566075e-01, -5.67307207e-01,
       -1.08132193e+00,  1.59244731e-01, -4.70780142e-01,  1.22993519e+00,
        1.74868469e+00, -6.08247608e-01, -3.87998170e-01, -1.13084998e-01,
        4.77901691e-01,  5.57139595e-02, -5.28816896e-01, -5.84941451e-02,
        1.35835213e-01, -5.39420907e-01,  1.35232488e+00, -7.42732702e-01,
        1.71120016e+00,  4.64482658e-01, -6.06318198e-01,  1.41447500e+00,
        8.47646899e-01,  1.48157811e+00, -1.29471408e+00,  5.25212170e-02,
        7.94560976e-01, -1.03613852e+00, -5.03175946e-01, -2.88221580e-01,
       -3.25985278e-01, -5.27829424e-01, -4.36201678e-01, -1.37049645e-01,
       -2.52042878e-01, -4.87873972e-01,  1.33003688e-01,  1.04448855e-01,
       -3.16844755e-01,  3.90739348e-01,  1.96833075e-01,  5.49442727e-01,
        2.24240681e-01, -2.78126266e-01,  8.59318735e-01,  1.39117138e+00,
       -1.38827885e-01,  1.11866640e+00, -2.23713506e+00, -1.02474924e-01,
       -1.55083068e+00,  8.53825331e-01,  5.11735748e-01, -7.86835818e-01,
       -1.61649220e+00,  3.18774431e-01, -1.69590839e+00, -1.30085255e+00,
        1.24709893e+00,  6.04295491e-01, -1.04640137e+00,  7.82461573e-02,
       -4.17628842e-01, -1.43819308e+00, -9.33803809e-01, -6.52837089e-01,
       -1.97791886e+00,  5.70955396e-01,  4.44332078e-01, -2.94517800e-01,
       -1.85518662e-01, -8.70305473e-01,  1.72739576e+00, -1.36258443e+00,
        1.30951063e+00,  9.04202834e-01,  1.94478092e-01, -7.34930602e-02,
       -7.36010990e-01,  1.07936216e+00,  2.18646333e-02,  1.62247214e+00,
       -7.04392998e-01,  1.01604805e+00,  8.73156451e-02, -1.09157429e-01,
        1.02184428e+00, -1.02747742e+00,  1.43706995e+00,  2.61016842e-01,
       -1.45403081e-01,  1.13591271e-01,  8.27233343e-01,  5.09093385e-01,
        2.80200409e-01,  6.89839793e-01, -1.83869762e+00,  1.65169531e-01,
        1.68493664e+00,  9.36831838e-01, -7.92224056e-01, -1.46999092e+00,
        4.30386424e-01,  1.10941321e+00, -9.93403136e-01,  5.02277801e-01,
        9.68546807e-01, -1.50959217e+00,  2.00951056e+00, -2.20114726e-01,
       -2.31475313e+00,  1.60515955e+00,  8.14152948e-01,  4.52484105e-01,
       -9.02683372e-01,  3.87353667e-02, -1.05631926e+00,  6.50637595e-01,
        8.88380617e-01, -2.36664536e+00, -7.65556182e-01, -1.88188907e+00,
        1.15566492e+00, -1.12800364e+00, -1.30396900e+00,  1.18923009e+00,
        7.60419354e-01,  9.72831858e-01, -8.22100052e-01,  4.41406460e-02,
        3.66627254e-02,  2.22636543e-01,  5.82784820e-01,  8.60496301e-01,
       -4.50740374e-01,  4.98607718e-01, -1.64914144e+00, -2.32591392e+00,
       -9.07634414e-01, -1.07226115e+00,  2.03949330e-01,  9.12946073e-01,
       -1.35337052e+00,  3.05748729e-01, -3.42474832e-01,  2.82678850e-01,
       -3.04963879e-01,  2.08859037e-01, -8.74606610e-01, -7.09031266e-01,
       -2.97679132e-01, -9.63982105e-02,  5.76470381e-02, -5.98819235e-01,
       -1.85361171e+00,  2.45912245e-01,  1.43758946e+00,  2.22351020e-02,
        1.12173508e+00,  1.35684126e-01,  2.21026127e-01,  3.69054717e-01,
        1.07289059e+00, -1.64203754e+00,  9.95203769e-01,  8.65555047e-01,
       -3.10959546e-01,  9.06315019e-01,  1.27989088e-01, -1.30359955e+00,
        4.13250558e-01,  1.26975341e+00,  1.93900220e+00, -8.19866270e-01,
        2.50975740e-01,  4.10774440e-01, -2.10511663e+00, -1.55843470e-01,
        1.47723330e+00, -3.23223662e-03,  7.98785584e-01, -7.44942789e-01,
       -8.74122668e-02, -4.39272052e-01, -7.37180580e-01,  1.21177922e-01,
        1.44459222e+00, -9.36662412e-02,  4.98026128e-01,  1.42279245e+00,
        1.53649397e+00, -1.42021978e+00,  5.76184629e-01,  9.95276904e-01,
       -2.55417073e-01,  4.90454460e-01,  8.80301003e-01,  2.85064682e-01,
       -1.10087986e+00, -1.31079750e+00,  2.80192527e-01,  8.43887817e-01,
        2.32246700e-01,  1.17174676e-02,  8.15942146e-01,  4.28125429e-01,
       -1.82719123e+00,  1.17466017e+00,  2.86471530e-01,  1.25690797e+00,
       -4.12812366e-01, -2.53138359e+00, -1.16499287e+00,  9.82677080e-01,
       -1.89650061e+00, -1.87780511e-01, -8.64439255e-01, -1.09712065e-01,
       -4.27189553e-01, -6.33560534e-01, -5.59412579e-01, -9.52161785e-01,
       -1.08179840e+00, -5.14607208e-01, -8.61702161e-01,  1.63118445e-01,
        4.88731317e-01, -6.30056205e-01,  3.46303492e-01,  5.73544248e-02,
       -2.44846371e+00, -1.12970078e+00,  4.69789483e-01,  1.17449798e+00,
       -8.50498335e-01, -4.44167162e-01, -2.06739284e-01, -2.89243290e-01,
        1.96168781e-01,  5.57779253e-01,  1.39071608e+00, -1.15949800e+00,
       -5.92424821e-01, -8.67567934e-01, -1.23872302e-02,  1.93729815e-01,
       -6.92232610e-01, -4.75298344e-01,  1.31585519e+00,  1.22388951e+00,
       -4.39446661e-01,  8.37991392e-01, -1.07375365e+00,  2.65871412e+00,
        1.00761867e+00,  1.51441693e+00,  6.15565489e-02, -1.10580707e+00,
       -4.42559942e-03,  1.86842662e+00,  1.35056666e+00,  1.44303298e+00,
        5.77824225e-01, -2.44402172e-01, -1.23024683e+00, -2.27164595e-01,
       -1.23355848e+00, -7.17289130e-01,  1.01973443e+00,  5.20422116e-01,
       -2.59930021e-01,  8.29842672e-01, -1.09666729e+00,  4.22951487e-01,
       -3.73803842e-01, -1.42916637e+00, -1.11254480e+00, -1.41229579e+00,
       -3.61291687e-01, -4.50131471e-01, -8.20054410e-01,  5.71393561e-01,
        1.38411481e+00, -1.28576646e+00, -7.39005620e-02, -8.41582303e-01,
        1.60531461e-02, -1.37401983e+00,  3.24923221e-01, -3.86334552e-01,
        3.59876530e-01, -9.87082309e-01, -4.08050089e-01,  8.75420705e-01,
       -1.79382472e+00,  6.72340008e-01, -1.06915486e+00,  9.01026614e-01,
       -1.08601882e+00, -6.93735487e-01, -2.80874155e+00, -1.84486249e+00,
       -1.05957460e+00,  8.95372821e-01,  2.01607441e-01,  1.58517391e+00,
        3.10587580e-01, -1.53223670e+00, -2.24463813e-01, -6.98762967e-02,
       -6.55396472e-01, -7.04552944e-01, -4.03973142e-01, -4.53780801e-01,
        2.02037899e+00,  9.86304206e-01,  2.62037316e+00, -7.11186497e-01,
       -1.59496779e+00, -2.58062415e-02, -7.58815265e-01,  6.58572348e-01,
       -7.67056178e-01,  4.68667386e-02, -1.34941920e+00,  1.71373923e-01,
       -8.97104885e-01, -5.04197869e-01,  2.16912716e-01,  1.04671988e+00,
        2.82302395e-01,  8.12350127e-01, -3.53081210e-01,  5.19025387e-01,
       -1.66716446e+00, -8.02143799e-02,  3.99596380e-02, -1.33635063e-01,
        1.74276270e-01, -1.38776181e+00,  3.02301139e-01, -2.19569730e+00,
        1.25727602e+00,  8.07366517e-01, -2.22966131e+00, -3.31476312e-01,
       -8.32464218e-01, -1.76470389e-01, -3.16221867e-01,  1.61465231e-01,
        1.81741544e+00,  1.53072380e-01,  4.94723365e-01, -4.35754743e-01,
        2.38076613e-02,  1.36177695e+00, -9.33873038e-01, -1.62224044e+00,
       -2.57539873e-01, -1.33449213e+00, -9.41333768e-01, -4.09884445e-01,
       -1.10359929e+00, -1.10219560e+00, -1.09459510e+00, -3.26088843e-01,
        3.16494413e-01, -7.57234487e-01, -1.82950472e-01,  1.41261412e+00,
        1.92969888e+00,  1.05869608e+00, -9.67335397e-01, -4.72880986e-01,
        6.33397426e-02, -3.01471800e-01, -1.46094081e+00, -3.68265993e-01,
       -7.91217548e-01,  8.31249673e-01,  2.16888173e+00,  8.27862289e-01,
       -1.33728774e-01, -2.96880392e-01,  8.90402628e-01,  7.20578737e-01,
        6.02453530e-02,  7.31955692e-02, -5.57575364e-01,  4.19628537e-02,
        2.01741217e-01,  2.10170359e-01,  5.59218287e-02, -1.86235040e-01,
       -4.53381755e-01,  1.44370381e+00,  1.52051153e+00, -4.39098376e-01,
       -2.84356126e-01,  6.46256038e-01, -7.68527700e-01,  1.07244924e+00,
       -5.52971941e-01,  1.71345815e+00, -1.53619348e+00, -9.31556826e-01,
        9.72716454e-01,  3.71471188e-02, -4.27647832e-01, -1.42749752e+00,
        1.40892790e+00,  4.18544915e-01, -1.20191431e+00, -7.73455888e-02,
        5.37046785e-01, -1.41233015e+00, -1.97499963e+00, -1.83971724e+00,
       -2.10563054e+00,  1.36807666e+00, -1.28299467e+00, -8.31100674e-01,
        1.80257875e+00,  1.86341733e+00,  9.51473721e-01,  1.25654295e+00,
       -8.70008331e-01,  9.20757775e-01,  2.54367861e-01,  6.46427969e-01,
       -3.88430394e-02, -3.20496172e-01, -5.96381939e-01,  8.45296113e-01,
       -1.04224583e-01,  9.18150402e-01,  1.84441312e+00,  6.25755050e-01,
       -1.24524216e+00, -2.08772468e-01, -9.65620622e-01, -2.70704800e-01,
       -1.81155487e-01, -2.64540483e+00,  2.24082492e-01,  1.29399797e-01,
       -5.08784857e-01,  1.12539439e+00, -7.36258887e-01, -8.79750996e-01,
       -4.10474275e-02, -6.79749366e-01,  1.06030967e+00, -2.66047803e-01,
       -3.88310532e-01, -1.22908846e+00,  6.05199421e-02,  2.13452062e+00,
        9.87685318e-01, -3.99852025e-01,  1.11510366e+00,  1.88744080e+00,
        6.58116597e-01,  1.94554957e-01,  2.11694667e-01, -4.13755207e-01,
        6.67727784e-01, -8.15783783e-02, -9.55277335e-01,  1.20870081e+00,
        4.60411790e-01,  3.72136224e-01, -1.65510610e+00, -3.16817649e-01,
        8.17438449e-01, -8.59853475e-01, -1.03100913e+00, -1.18319095e-01,
        1.91250069e+00,  6.95331553e-01,  3.40524508e-01,  2.08251631e+00,
       -6.96352754e-01,  1.14685566e+00, -3.52377427e-01, -1.13928654e+00,
       -7.19749975e-01,  9.61611749e-01,  1.32583376e+00, -6.23419454e-01,
        9.10039626e-01, -8.71118623e-01, -2.27329961e+00,  6.52921995e-01,
        1.02656993e-01, -5.77917602e-01, -1.08690032e+00,  4.38270477e-01,
        4.47975472e-01, -2.39482553e-01, -7.69937243e-01, -2.24918784e-02,
        3.69006414e-01, -1.10758138e+00, -7.60607131e-01, -7.93508415e-01,
       -9.81440972e-02, -1.77085998e+00,  5.32142111e-01,  7.38740347e-01,
        3.44402091e-01, -9.41108327e-01,  1.85198258e-02,  6.38651422e-01,
        2.80572116e-01, -3.95877713e-01, -1.43565023e+00, -3.26231646e-01,
        6.03612893e-01,  1.40984032e+00,  2.86150975e-01,  8.78600855e-01,
       -1.44012181e-01,  1.11975253e+00, -2.28144125e+00,  1.04392801e+00,
       -2.64101952e+00, -9.24037465e-01,  9.58726115e-01,  4.55931537e-01,
        9.62224777e-01, -2.02442903e+00,  3.95187823e-01, -2.33213405e+00,
        1.07000642e+00, -1.20274074e-01, -6.13140829e-01,  1.11238593e+00,
        5.44453737e-01,  1.52444247e-03, -9.21788296e-01,  1.19196784e+00,
        2.46579280e+00, -1.33137198e+00,  3.75974134e-01, -1.69638626e+00,
       -1.54333921e+00,  2.10117817e-01, -1.01285263e-02,  1.70994432e+00,
        2.05906786e+00, -1.16076396e+00,  2.25447236e+00, -7.38240588e-01,
       -3.38457385e-01, -8.52917070e-01,  6.94625243e-01,  3.80406427e-01,
        4.12835886e-01,  2.80817667e-01, -3.83747613e-01, -9.82307753e-01,
       -1.01837834e+00, -1.13465904e-01, -6.03950752e-01, -9.25341633e-01,
        5.03421550e-01,  4.63253716e-02, -1.04459154e+00,  5.71427778e-01,
       -8.32514381e-01, -2.51763915e-01, -1.85575780e-01, -7.64307567e-02,
        3.61611263e-01,  1.82629298e+00,  2.96081315e-01, -1.36571224e+00,
        1.35538206e+00,  2.03650787e-01,  4.04525197e-01,  4.23926107e-01,
       -6.63030420e-01,  9.94500416e-02,  1.64408258e+00,  6.28691226e-01,
        2.06634521e+00,  2.05152618e-02, -2.69262844e-01, -8.20572287e-01,
       -7.80748775e-01, -1.67150287e-01,  1.01468711e-01,  4.84202549e-01,
       -1.18441236e+00,  5.93855852e-01,  2.13759397e+00, -5.49419550e-01,
        1.44169862e+00, -1.13332792e+00, -1.20532073e+00, -5.98610268e-01,
        1.49744754e+00,  8.60094475e-01,  1.10677071e+00, -2.53256490e-02,
       -2.54798227e-01, -4.86916773e-01, -1.63352513e+00, -1.06926586e+00,
       -5.06556292e-01,  3.94439732e-01, -7.55808285e-01, -3.68601453e-01,
       -8.11777957e-01, -1.64952037e+00, -1.18767016e-01, -3.30297484e-01,
       -2.22945079e-01, -4.76463643e-01,  1.22927124e-01, -6.11920148e-01,
       -1.15465428e+00, -2.08432210e-01, -5.14761241e-01, -1.64680846e+00,
        4.51312505e-01, -6.80708045e-01, -9.10219587e-01, -1.34721944e+00,
       -3.67718448e-01, -1.89491924e+00, -1.83017425e+00, -1.64326801e+00,
        3.90106496e-01,  4.47486610e-01, -5.34868012e-01,  1.06787945e+00,
       -3.47938818e-01, -6.90352531e-01,  3.55767417e-02,  5.75449911e-01,
       -1.33416179e-02,  1.04904876e+00, -4.91326727e-01,  6.35743503e-01,
        1.04541148e+00,  1.80315033e+00,  1.08952321e+00,  5.63859170e-01,
       -7.93966859e-02, -1.12487830e+00, -8.23684288e-02, -7.36352672e-01,
       -2.90210546e+00,  1.86981297e+00, -5.15011049e-01,  1.84347012e-01,
        2.17309756e+00, -7.22546200e-01,  1.81802806e+00, -9.06865468e-01,
       -7.18883237e-01, -1.18015111e+00,  2.41047214e-01, -3.56425245e-02,
       -9.99673122e-01,  1.26812515e+00, -1.11743827e+00, -8.84956155e-01,
        1.59485206e+00, -4.67542992e-01, -4.85626417e-01,  1.01971186e+00,
        1.21236323e+00, -6.13283821e-01, -3.80955037e-01, -1.51318902e+00,
       -4.41256288e-01, -1.39400668e-03,  9.31487048e-01, -1.64750876e+00,
       -1.80934113e-01,  9.63181750e-01, -1.51482419e+00,  8.84867552e-01,
        2.06601071e-01,  9.43107834e-01, -1.62332332e-01,  1.17815000e-01,
        1.04837814e+00,  1.07250064e+00, -2.25484910e-01, -2.47760236e-01,
       -2.18274399e+00, -4.87531174e-01, -1.22847086e+00, -1.97536966e+00,
       -4.71152310e-02, -4.94556798e-01,  1.98310397e+00,  9.46595200e-01,
       -8.94624767e-01,  1.51219984e+00,  2.63460729e-01,  2.11695628e-01,
        1.66264163e-02,  2.77753822e-01,  6.91432758e-02, -4.02700763e-01,
       -8.64725002e-02,  1.43713625e+00, -1.65202052e-01,  3.15364206e-01,
       -6.53880529e-01,  4.59217894e-01,  6.93263521e-01, -3.36455584e-01,
       -4.27942096e-02,  1.12743583e+00, -3.79245066e-01,  1.86681401e+00,
       -5.96772388e-01, -1.73778019e+00, -1.01261068e+00, -1.74463886e+00,
        2.29534317e+00, -1.64890631e-01, -2.91944227e-01,  6.03614478e-01,
        3.68072306e+00,  5.33261528e-01, -5.35780279e-01, -8.32734944e-01,
       -6.68543325e-01, -3.58732455e-01,  9.79276146e-01,  9.19539378e-01,
        7.78008807e-01, -1.48422616e+00, -1.31957178e+00, -5.86960759e-01,
        1.66311461e+00, -1.66519366e+00, -2.76207466e-01, -3.42565970e-01,
        1.31813777e-01,  1.03667853e+00,  1.50311980e-02, -5.61476255e-01,
       -1.98813829e-01,  6.36356928e-02,  4.59732104e-01,  1.16153890e+00,
       -8.98315255e-01,  3.34645391e-01, -2.40403357e+00, -2.20976404e-01,
        1.18573389e+00,  1.19069457e-02, -5.39663321e-01, -1.63227687e+00,
        9.33003251e-01,  1.18889695e+00,  5.80706443e-01,  1.00231206e+00,
        4.14490258e-01, -1.04227065e+00,  8.33984550e-01, -2.95260839e-01,
        1.04696333e+00,  3.76920751e-01,  6.32337945e-01,  4.38102609e-01,
        1.61162269e+00,  2.65009660e-01, -2.37692026e-01, -4.73510794e-01,
       -3.80585232e-01,  2.17232956e-01,  4.40505935e-01,  1.81102311e+00,
       -8.55924674e-01,  6.93122846e-02,  6.62495450e-01, -1.03269506e+00,
       -1.65970314e+00, -1.41920787e-01, -1.07036705e+00,  3.63610981e-01,
       -2.02182531e-01,  7.53188611e-01, -3.99490731e-01,  1.26464997e+00,
       -1.56723543e+00, -1.55252647e+00, -1.86752880e-03,  2.73547414e-01,
        1.07349403e+00, -1.11735175e-01,  1.08427065e+00,  2.15405562e-01,
       -1.28567481e+00, -1.74079057e+00,  1.04168221e+00,  8.63748482e-01,
       -9.38602036e-01, -2.69964643e-01,  2.55511694e-01, -1.56525399e+00,
        1.35514994e+00, -1.85575512e+00, -3.01210736e-01, -1.90466710e+00,
       -1.22953728e+00,  6.06542495e-01,  4.91289468e-01,  2.81410617e-01,
        4.22392456e-01,  9.98421537e-01,  1.23492954e+00,  1.99520245e-01,
       -7.92445535e-01,  2.63490508e-01,  2.37827866e-01,  9.30687210e-02,
       -9.24398243e-01,  6.01766681e-01, -1.46993270e+00,  1.43294942e-01,
        5.51124877e-02,  6.25157641e-02, -1.45670903e+00, -1.22319509e+00,
        7.07709357e-01,  2.12569251e+00,  1.04299690e+00,  4.69268159e-01,
        6.23834793e-02, -1.08571684e+00,  2.26943047e-01,  7.69628951e-02,
       -2.44951999e-01,  9.73573228e-01,  1.03606608e-01, -4.84152093e-01,
       -1.49954092e+00, -6.02082445e-01,  1.49628400e+00,  1.31701783e+00,
       -1.66854142e+00, -3.03733439e-01, -1.34614635e-01,  5.01361272e-01,
       -6.58382109e-01,  2.49234832e-01, -8.59781340e-01,  1.19505734e-01,
       -1.36375072e+00, -2.42508384e+00,  9.76315752e-01, -1.14307585e+00,
       -7.61724444e-01, -1.69466828e+00,  1.78938768e-01, -3.82558667e-01,
        2.82006528e-01, -7.04042931e-01, -6.93067896e-01,  2.09559516e-01,
        6.20991496e-01, -3.03614118e-01, -1.01808672e+00,  1.90727674e+00,
       -4.65274760e-01, -5.06591973e-01,  7.53638674e-01,  7.57490875e-01,
        1.72993219e+00, -3.04295960e-01,  2.59202926e-01,  2.41019066e-01,
       -5.89848889e-01, -1.95554874e-01,  5.31426862e-01,  3.27014701e-01,
        7.29333513e-01, -9.57855135e-01, -1.12235238e+00, -1.20759360e+00,
        4.09051149e-01,  1.30716567e+00,  2.59759423e-01, -1.74572603e+00,
        5.27274630e-01, -1.50533380e+00, -1.15595539e+00, -2.90783285e-01,
       -2.84750248e-01,  3.04723409e-01, -6.35005449e-01, -7.17047920e-01,
        7.99005721e-02,  3.41713080e-01,  9.42920787e-01,  6.31830374e-01,
       -1.46436652e+00, -3.41010779e-01, -1.13822956e+00, -5.98861727e-02,
        6.53021359e-01,  6.15673433e-02,  7.63800520e-01, -9.56175414e-01,
        1.00482301e+00,  1.31770777e+00,  2.18411684e-01, -5.59614397e-01,
       -6.71673988e-01,  4.72127335e-01,  3.76511699e-01, -8.13690266e-01,
        1.11609372e+00, -9.69014475e-01,  1.75946106e+00,  3.45081067e-01,
        2.86745279e-01, -4.71573527e-01, -9.80768304e-01,  2.10653928e-01,
       -1.68439899e+00,  1.92100189e+00, -6.82126904e-01,  5.88587593e-01,
       -1.47930269e+00,  9.43551423e-02, -1.90452434e+00, -5.78297133e-01])

In [73]:
quartiles = pd.qcut(data, 4, precision=2)
quartiles

[(0.63, 3.68], (-2.9099999999999997, -0.71], (-0.011, 0.63], (-0.011, 0.63], (-0.71, -0.011], ..., (-0.011, 0.63], (-2.9099999999999997, -0.71], (-0.011, 0.63], (-2.9099999999999997, -0.71], (-0.71, -0.011]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.9099999999999997, -0.71] < (-0.71, -0.011] < (-0.011, 0.63] < (0.63, 3.68]]

In [74]:
pd.value_counts(quartiles)

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\3472704981.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartiles)

(-2.9099999999999997, -0.71]    250
(-0.71, -0.011]                 250
(-0.011, 0.63]                  250
(0.63, 3.68]                    250
Name: count, dtype: int64

In [75]:
pd.Series(quartiles).value_counts()

(-2.9099999999999997, -0.71]    250
(-0.71, -0.011]                 250
(-0.011, 0.63]                  250
(0.63, 3.68]                    250
Name: count, dtype: int64

In [76]:
data

array([ 1.64839945e+00, -7.28946569e-01,  5.72544143e-02,  3.43823538e-01,
       -5.59727139e-01,  1.92112087e-01, -4.11939532e-01,  7.74662633e-01,
        1.32471286e+00,  2.19118876e+00, -4.61452407e-02,  3.30905725e-01,
       -4.48823698e-01, -1.69643085e+00,  1.40478298e+00,  2.23817987e-02,
       -3.07252963e-01,  7.12730104e-01, -3.32668009e-01, -5.26632073e-01,
        2.28710124e+00,  4.31122052e-01, -1.51113947e+00, -1.78354444e-01,
        4.13706743e-01,  8.84026674e-01, -5.46937344e-01,  6.96749466e-01,
        3.41408325e-01,  1.23682710e+00,  3.08658982e-01,  1.01345726e+00,
       -1.74824562e-02,  8.70037111e-01,  1.07311954e+00,  1.50408434e-02,
        7.91789035e-01,  2.65560432e-01, -7.07919961e-01,  3.38467553e-01,
        7.80840039e-02,  1.96033668e+00, -3.03179801e-01,  3.45616399e-01,
       -4.74922820e-01, -1.51915757e+00,  1.21024628e-02,  5.19207186e-03,
        9.66544275e-01,  9.48847357e-01, -6.18328364e-01, -4.21485975e-01,
       -1.06007593e+00,  4.92237767e-02,  4.64384831e-01, -1.90436244e+00,
        3.15739503e-01,  1.68984776e+00, -6.15332329e-01,  6.33598693e-01,
        1.22084514e+00,  2.01126985e-01, -6.66566075e-01, -5.67307207e-01,
       -1.08132193e+00,  1.59244731e-01, -4.70780142e-01,  1.22993519e+00,
        1.74868469e+00, -6.08247608e-01, -3.87998170e-01, -1.13084998e-01,
        4.77901691e-01,  5.57139595e-02, -5.28816896e-01, -5.84941451e-02,
        1.35835213e-01, -5.39420907e-01,  1.35232488e+00, -7.42732702e-01,
        1.71120016e+00,  4.64482658e-01, -6.06318198e-01,  1.41447500e+00,
        8.47646899e-01,  1.48157811e+00, -1.29471408e+00,  5.25212170e-02,
        7.94560976e-01, -1.03613852e+00, -5.03175946e-01, -2.88221580e-01,
       -3.25985278e-01, -5.27829424e-01, -4.36201678e-01, -1.37049645e-01,
       -2.52042878e-01, -4.87873972e-01,  1.33003688e-01,  1.04448855e-01,
       -3.16844755e-01,  3.90739348e-01,  1.96833075e-01,  5.49442727e-01,
        2.24240681e-01, -2.78126266e-01,  8.59318735e-01,  1.39117138e+00,
       -1.38827885e-01,  1.11866640e+00, -2.23713506e+00, -1.02474924e-01,
       -1.55083068e+00,  8.53825331e-01,  5.11735748e-01, -7.86835818e-01,
       -1.61649220e+00,  3.18774431e-01, -1.69590839e+00, -1.30085255e+00,
        1.24709893e+00,  6.04295491e-01, -1.04640137e+00,  7.82461573e-02,
       -4.17628842e-01, -1.43819308e+00, -9.33803809e-01, -6.52837089e-01,
       -1.97791886e+00,  5.70955396e-01,  4.44332078e-01, -2.94517800e-01,
       -1.85518662e-01, -8.70305473e-01,  1.72739576e+00, -1.36258443e+00,
        1.30951063e+00,  9.04202834e-01,  1.94478092e-01, -7.34930602e-02,
       -7.36010990e-01,  1.07936216e+00,  2.18646333e-02,  1.62247214e+00,
       -7.04392998e-01,  1.01604805e+00,  8.73156451e-02, -1.09157429e-01,
        1.02184428e+00, -1.02747742e+00,  1.43706995e+00,  2.61016842e-01,
       -1.45403081e-01,  1.13591271e-01,  8.27233343e-01,  5.09093385e-01,
        2.80200409e-01,  6.89839793e-01, -1.83869762e+00,  1.65169531e-01,
        1.68493664e+00,  9.36831838e-01, -7.92224056e-01, -1.46999092e+00,
        4.30386424e-01,  1.10941321e+00, -9.93403136e-01,  5.02277801e-01,
        9.68546807e-01, -1.50959217e+00,  2.00951056e+00, -2.20114726e-01,
       -2.31475313e+00,  1.60515955e+00,  8.14152948e-01,  4.52484105e-01,
       -9.02683372e-01,  3.87353667e-02, -1.05631926e+00,  6.50637595e-01,
        8.88380617e-01, -2.36664536e+00, -7.65556182e-01, -1.88188907e+00,
        1.15566492e+00, -1.12800364e+00, -1.30396900e+00,  1.18923009e+00,
        7.60419354e-01,  9.72831858e-01, -8.22100052e-01,  4.41406460e-02,
        3.66627254e-02,  2.22636543e-01,  5.82784820e-01,  8.60496301e-01,
       -4.50740374e-01,  4.98607718e-01, -1.64914144e+00, -2.32591392e+00,
       -9.07634414e-01, -1.07226115e+00,  2.03949330e-01,  9.12946073e-01,
       -1.35337052e+00,  3.05748729e-01, -3.42474832e-01,  2.82678850e-01,
       -3.04963879e-01,  2.08859037e-01, -8.74606610e-01, -7.09031266e-01,
       -2.97679132e-01, -9.63982105e-02,  5.76470381e-02, -5.98819235e-01,
       -1.85361171e+00,  2.45912245e-01,  1.43758946e+00,  2.22351020e-02,
        1.12173508e+00,  1.35684126e-01,  2.21026127e-01,  3.69054717e-01,
        1.07289059e+00, -1.64203754e+00,  9.95203769e-01,  8.65555047e-01,
       -3.10959546e-01,  9.06315019e-01,  1.27989088e-01, -1.30359955e+00,
        4.13250558e-01,  1.26975341e+00,  1.93900220e+00, -8.19866270e-01,
        2.50975740e-01,  4.10774440e-01, -2.10511663e+00, -1.55843470e-01,
        1.47723330e+00, -3.23223662e-03,  7.98785584e-01, -7.44942789e-01,
       -8.74122668e-02, -4.39272052e-01, -7.37180580e-01,  1.21177922e-01,
        1.44459222e+00, -9.36662412e-02,  4.98026128e-01,  1.42279245e+00,
        1.53649397e+00, -1.42021978e+00,  5.76184629e-01,  9.95276904e-01,
       -2.55417073e-01,  4.90454460e-01,  8.80301003e-01,  2.85064682e-01,
       -1.10087986e+00, -1.31079750e+00,  2.80192527e-01,  8.43887817e-01,
        2.32246700e-01,  1.17174676e-02,  8.15942146e-01,  4.28125429e-01,
       -1.82719123e+00,  1.17466017e+00,  2.86471530e-01,  1.25690797e+00,
       -4.12812366e-01, -2.53138359e+00, -1.16499287e+00,  9.82677080e-01,
       -1.89650061e+00, -1.87780511e-01, -8.64439255e-01, -1.09712065e-01,
       -4.27189553e-01, -6.33560534e-01, -5.59412579e-01, -9.52161785e-01,
       -1.08179840e+00, -5.14607208e-01, -8.61702161e-01,  1.63118445e-01,
        4.88731317e-01, -6.30056205e-01,  3.46303492e-01,  5.73544248e-02,
       -2.44846371e+00, -1.12970078e+00,  4.69789483e-01,  1.17449798e+00,
       -8.50498335e-01, -4.44167162e-01, -2.06739284e-01, -2.89243290e-01,
        1.96168781e-01,  5.57779253e-01,  1.39071608e+00, -1.15949800e+00,
       -5.92424821e-01, -8.67567934e-01, -1.23872302e-02,  1.93729815e-01,
       -6.92232610e-01, -4.75298344e-01,  1.31585519e+00,  1.22388951e+00,
       -4.39446661e-01,  8.37991392e-01, -1.07375365e+00,  2.65871412e+00,
        1.00761867e+00,  1.51441693e+00,  6.15565489e-02, -1.10580707e+00,
       -4.42559942e-03,  1.86842662e+00,  1.35056666e+00,  1.44303298e+00,
        5.77824225e-01, -2.44402172e-01, -1.23024683e+00, -2.27164595e-01,
       -1.23355848e+00, -7.17289130e-01,  1.01973443e+00,  5.20422116e-01,
       -2.59930021e-01,  8.29842672e-01, -1.09666729e+00,  4.22951487e-01,
       -3.73803842e-01, -1.42916637e+00, -1.11254480e+00, -1.41229579e+00,
       -3.61291687e-01, -4.50131471e-01, -8.20054410e-01,  5.71393561e-01,
        1.38411481e+00, -1.28576646e+00, -7.39005620e-02, -8.41582303e-01,
        1.60531461e-02, -1.37401983e+00,  3.24923221e-01, -3.86334552e-01,
        3.59876530e-01, -9.87082309e-01, -4.08050089e-01,  8.75420705e-01,
       -1.79382472e+00,  6.72340008e-01, -1.06915486e+00,  9.01026614e-01,
       -1.08601882e+00, -6.93735487e-01, -2.80874155e+00, -1.84486249e+00,
       -1.05957460e+00,  8.95372821e-01,  2.01607441e-01,  1.58517391e+00,
        3.10587580e-01, -1.53223670e+00, -2.24463813e-01, -6.98762967e-02,
       -6.55396472e-01, -7.04552944e-01, -4.03973142e-01, -4.53780801e-01,
        2.02037899e+00,  9.86304206e-01,  2.62037316e+00, -7.11186497e-01,
       -1.59496779e+00, -2.58062415e-02, -7.58815265e-01,  6.58572348e-01,
       -7.67056178e-01,  4.68667386e-02, -1.34941920e+00,  1.71373923e-01,
       -8.97104885e-01, -5.04197869e-01,  2.16912716e-01,  1.04671988e+00,
        2.82302395e-01,  8.12350127e-01, -3.53081210e-01,  5.19025387e-01,
       -1.66716446e+00, -8.02143799e-02,  3.99596380e-02, -1.33635063e-01,
        1.74276270e-01, -1.38776181e+00,  3.02301139e-01, -2.19569730e+00,
        1.25727602e+00,  8.07366517e-01, -2.22966131e+00, -3.31476312e-01,
       -8.32464218e-01, -1.76470389e-01, -3.16221867e-01,  1.61465231e-01,
        1.81741544e+00,  1.53072380e-01,  4.94723365e-01, -4.35754743e-01,
        2.38076613e-02,  1.36177695e+00, -9.33873038e-01, -1.62224044e+00,
       -2.57539873e-01, -1.33449213e+00, -9.41333768e-01, -4.09884445e-01,
       -1.10359929e+00, -1.10219560e+00, -1.09459510e+00, -3.26088843e-01,
        3.16494413e-01, -7.57234487e-01, -1.82950472e-01,  1.41261412e+00,
        1.92969888e+00,  1.05869608e+00, -9.67335397e-01, -4.72880986e-01,
        6.33397426e-02, -3.01471800e-01, -1.46094081e+00, -3.68265993e-01,
       -7.91217548e-01,  8.31249673e-01,  2.16888173e+00,  8.27862289e-01,
       -1.33728774e-01, -2.96880392e-01,  8.90402628e-01,  7.20578737e-01,
        6.02453530e-02,  7.31955692e-02, -5.57575364e-01,  4.19628537e-02,
        2.01741217e-01,  2.10170359e-01,  5.59218287e-02, -1.86235040e-01,
       -4.53381755e-01,  1.44370381e+00,  1.52051153e+00, -4.39098376e-01,
       -2.84356126e-01,  6.46256038e-01, -7.68527700e-01,  1.07244924e+00,
       -5.52971941e-01,  1.71345815e+00, -1.53619348e+00, -9.31556826e-01,
        9.72716454e-01,  3.71471188e-02, -4.27647832e-01, -1.42749752e+00,
        1.40892790e+00,  4.18544915e-01, -1.20191431e+00, -7.73455888e-02,
        5.37046785e-01, -1.41233015e+00, -1.97499963e+00, -1.83971724e+00,
       -2.10563054e+00,  1.36807666e+00, -1.28299467e+00, -8.31100674e-01,
        1.80257875e+00,  1.86341733e+00,  9.51473721e-01,  1.25654295e+00,
       -8.70008331e-01,  9.20757775e-01,  2.54367861e-01,  6.46427969e-01,
       -3.88430394e-02, -3.20496172e-01, -5.96381939e-01,  8.45296113e-01,
       -1.04224583e-01,  9.18150402e-01,  1.84441312e+00,  6.25755050e-01,
       -1.24524216e+00, -2.08772468e-01, -9.65620622e-01, -2.70704800e-01,
       -1.81155487e-01, -2.64540483e+00,  2.24082492e-01,  1.29399797e-01,
       -5.08784857e-01,  1.12539439e+00, -7.36258887e-01, -8.79750996e-01,
       -4.10474275e-02, -6.79749366e-01,  1.06030967e+00, -2.66047803e-01,
       -3.88310532e-01, -1.22908846e+00,  6.05199421e-02,  2.13452062e+00,
        9.87685318e-01, -3.99852025e-01,  1.11510366e+00,  1.88744080e+00,
        6.58116597e-01,  1.94554957e-01,  2.11694667e-01, -4.13755207e-01,
        6.67727784e-01, -8.15783783e-02, -9.55277335e-01,  1.20870081e+00,
        4.60411790e-01,  3.72136224e-01, -1.65510610e+00, -3.16817649e-01,
        8.17438449e-01, -8.59853475e-01, -1.03100913e+00, -1.18319095e-01,
        1.91250069e+00,  6.95331553e-01,  3.40524508e-01,  2.08251631e+00,
       -6.96352754e-01,  1.14685566e+00, -3.52377427e-01, -1.13928654e+00,
       -7.19749975e-01,  9.61611749e-01,  1.32583376e+00, -6.23419454e-01,
        9.10039626e-01, -8.71118623e-01, -2.27329961e+00,  6.52921995e-01,
        1.02656993e-01, -5.77917602e-01, -1.08690032e+00,  4.38270477e-01,
        4.47975472e-01, -2.39482553e-01, -7.69937243e-01, -2.24918784e-02,
        3.69006414e-01, -1.10758138e+00, -7.60607131e-01, -7.93508415e-01,
       -9.81440972e-02, -1.77085998e+00,  5.32142111e-01,  7.38740347e-01,
        3.44402091e-01, -9.41108327e-01,  1.85198258e-02,  6.38651422e-01,
        2.80572116e-01, -3.95877713e-01, -1.43565023e+00, -3.26231646e-01,
        6.03612893e-01,  1.40984032e+00,  2.86150975e-01,  8.78600855e-01,
       -1.44012181e-01,  1.11975253e+00, -2.28144125e+00,  1.04392801e+00,
       -2.64101952e+00, -9.24037465e-01,  9.58726115e-01,  4.55931537e-01,
        9.62224777e-01, -2.02442903e+00,  3.95187823e-01, -2.33213405e+00,
        1.07000642e+00, -1.20274074e-01, -6.13140829e-01,  1.11238593e+00,
        5.44453737e-01,  1.52444247e-03, -9.21788296e-01,  1.19196784e+00,
        2.46579280e+00, -1.33137198e+00,  3.75974134e-01, -1.69638626e+00,
       -1.54333921e+00,  2.10117817e-01, -1.01285263e-02,  1.70994432e+00,
        2.05906786e+00, -1.16076396e+00,  2.25447236e+00, -7.38240588e-01,
       -3.38457385e-01, -8.52917070e-01,  6.94625243e-01,  3.80406427e-01,
        4.12835886e-01,  2.80817667e-01, -3.83747613e-01, -9.82307753e-01,
       -1.01837834e+00, -1.13465904e-01, -6.03950752e-01, -9.25341633e-01,
        5.03421550e-01,  4.63253716e-02, -1.04459154e+00,  5.71427778e-01,
       -8.32514381e-01, -2.51763915e-01, -1.85575780e-01, -7.64307567e-02,
        3.61611263e-01,  1.82629298e+00,  2.96081315e-01, -1.36571224e+00,
        1.35538206e+00,  2.03650787e-01,  4.04525197e-01,  4.23926107e-01,
       -6.63030420e-01,  9.94500416e-02,  1.64408258e+00,  6.28691226e-01,
        2.06634521e+00,  2.05152618e-02, -2.69262844e-01, -8.20572287e-01,
       -7.80748775e-01, -1.67150287e-01,  1.01468711e-01,  4.84202549e-01,
       -1.18441236e+00,  5.93855852e-01,  2.13759397e+00, -5.49419550e-01,
        1.44169862e+00, -1.13332792e+00, -1.20532073e+00, -5.98610268e-01,
        1.49744754e+00,  8.60094475e-01,  1.10677071e+00, -2.53256490e-02,
       -2.54798227e-01, -4.86916773e-01, -1.63352513e+00, -1.06926586e+00,
       -5.06556292e-01,  3.94439732e-01, -7.55808285e-01, -3.68601453e-01,
       -8.11777957e-01, -1.64952037e+00, -1.18767016e-01, -3.30297484e-01,
       -2.22945079e-01, -4.76463643e-01,  1.22927124e-01, -6.11920148e-01,
       -1.15465428e+00, -2.08432210e-01, -5.14761241e-01, -1.64680846e+00,
        4.51312505e-01, -6.80708045e-01, -9.10219587e-01, -1.34721944e+00,
       -3.67718448e-01, -1.89491924e+00, -1.83017425e+00, -1.64326801e+00,
        3.90106496e-01,  4.47486610e-01, -5.34868012e-01,  1.06787945e+00,
       -3.47938818e-01, -6.90352531e-01,  3.55767417e-02,  5.75449911e-01,
       -1.33416179e-02,  1.04904876e+00, -4.91326727e-01,  6.35743503e-01,
        1.04541148e+00,  1.80315033e+00,  1.08952321e+00,  5.63859170e-01,
       -7.93966859e-02, -1.12487830e+00, -8.23684288e-02, -7.36352672e-01,
       -2.90210546e+00,  1.86981297e+00, -5.15011049e-01,  1.84347012e-01,
        2.17309756e+00, -7.22546200e-01,  1.81802806e+00, -9.06865468e-01,
       -7.18883237e-01, -1.18015111e+00,  2.41047214e-01, -3.56425245e-02,
       -9.99673122e-01,  1.26812515e+00, -1.11743827e+00, -8.84956155e-01,
        1.59485206e+00, -4.67542992e-01, -4.85626417e-01,  1.01971186e+00,
        1.21236323e+00, -6.13283821e-01, -3.80955037e-01, -1.51318902e+00,
       -4.41256288e-01, -1.39400668e-03,  9.31487048e-01, -1.64750876e+00,
       -1.80934113e-01,  9.63181750e-01, -1.51482419e+00,  8.84867552e-01,
        2.06601071e-01,  9.43107834e-01, -1.62332332e-01,  1.17815000e-01,
        1.04837814e+00,  1.07250064e+00, -2.25484910e-01, -2.47760236e-01,
       -2.18274399e+00, -4.87531174e-01, -1.22847086e+00, -1.97536966e+00,
       -4.71152310e-02, -4.94556798e-01,  1.98310397e+00,  9.46595200e-01,
       -8.94624767e-01,  1.51219984e+00,  2.63460729e-01,  2.11695628e-01,
        1.66264163e-02,  2.77753822e-01,  6.91432758e-02, -4.02700763e-01,
       -8.64725002e-02,  1.43713625e+00, -1.65202052e-01,  3.15364206e-01,
       -6.53880529e-01,  4.59217894e-01,  6.93263521e-01, -3.36455584e-01,
       -4.27942096e-02,  1.12743583e+00, -3.79245066e-01,  1.86681401e+00,
       -5.96772388e-01, -1.73778019e+00, -1.01261068e+00, -1.74463886e+00,
        2.29534317e+00, -1.64890631e-01, -2.91944227e-01,  6.03614478e-01,
        3.68072306e+00,  5.33261528e-01, -5.35780279e-01, -8.32734944e-01,
       -6.68543325e-01, -3.58732455e-01,  9.79276146e-01,  9.19539378e-01,
        7.78008807e-01, -1.48422616e+00, -1.31957178e+00, -5.86960759e-01,
        1.66311461e+00, -1.66519366e+00, -2.76207466e-01, -3.42565970e-01,
        1.31813777e-01,  1.03667853e+00,  1.50311980e-02, -5.61476255e-01,
       -1.98813829e-01,  6.36356928e-02,  4.59732104e-01,  1.16153890e+00,
       -8.98315255e-01,  3.34645391e-01, -2.40403357e+00, -2.20976404e-01,
        1.18573389e+00,  1.19069457e-02, -5.39663321e-01, -1.63227687e+00,
        9.33003251e-01,  1.18889695e+00,  5.80706443e-01,  1.00231206e+00,
        4.14490258e-01, -1.04227065e+00,  8.33984550e-01, -2.95260839e-01,
        1.04696333e+00,  3.76920751e-01,  6.32337945e-01,  4.38102609e-01,
        1.61162269e+00,  2.65009660e-01, -2.37692026e-01, -4.73510794e-01,
       -3.80585232e-01,  2.17232956e-01,  4.40505935e-01,  1.81102311e+00,
       -8.55924674e-01,  6.93122846e-02,  6.62495450e-01, -1.03269506e+00,
       -1.65970314e+00, -1.41920787e-01, -1.07036705e+00,  3.63610981e-01,
       -2.02182531e-01,  7.53188611e-01, -3.99490731e-01,  1.26464997e+00,
       -1.56723543e+00, -1.55252647e+00, -1.86752880e-03,  2.73547414e-01,
        1.07349403e+00, -1.11735175e-01,  1.08427065e+00,  2.15405562e-01,
       -1.28567481e+00, -1.74079057e+00,  1.04168221e+00,  8.63748482e-01,
       -9.38602036e-01, -2.69964643e-01,  2.55511694e-01, -1.56525399e+00,
        1.35514994e+00, -1.85575512e+00, -3.01210736e-01, -1.90466710e+00,
       -1.22953728e+00,  6.06542495e-01,  4.91289468e-01,  2.81410617e-01,
        4.22392456e-01,  9.98421537e-01,  1.23492954e+00,  1.99520245e-01,
       -7.92445535e-01,  2.63490508e-01,  2.37827866e-01,  9.30687210e-02,
       -9.24398243e-01,  6.01766681e-01, -1.46993270e+00,  1.43294942e-01,
        5.51124877e-02,  6.25157641e-02, -1.45670903e+00, -1.22319509e+00,
        7.07709357e-01,  2.12569251e+00,  1.04299690e+00,  4.69268159e-01,
        6.23834793e-02, -1.08571684e+00,  2.26943047e-01,  7.69628951e-02,
       -2.44951999e-01,  9.73573228e-01,  1.03606608e-01, -4.84152093e-01,
       -1.49954092e+00, -6.02082445e-01,  1.49628400e+00,  1.31701783e+00,
       -1.66854142e+00, -3.03733439e-01, -1.34614635e-01,  5.01361272e-01,
       -6.58382109e-01,  2.49234832e-01, -8.59781340e-01,  1.19505734e-01,
       -1.36375072e+00, -2.42508384e+00,  9.76315752e-01, -1.14307585e+00,
       -7.61724444e-01, -1.69466828e+00,  1.78938768e-01, -3.82558667e-01,
        2.82006528e-01, -7.04042931e-01, -6.93067896e-01,  2.09559516e-01,
        6.20991496e-01, -3.03614118e-01, -1.01808672e+00,  1.90727674e+00,
       -4.65274760e-01, -5.06591973e-01,  7.53638674e-01,  7.57490875e-01,
        1.72993219e+00, -3.04295960e-01,  2.59202926e-01,  2.41019066e-01,
       -5.89848889e-01, -1.95554874e-01,  5.31426862e-01,  3.27014701e-01,
        7.29333513e-01, -9.57855135e-01, -1.12235238e+00, -1.20759360e+00,
        4.09051149e-01,  1.30716567e+00,  2.59759423e-01, -1.74572603e+00,
        5.27274630e-01, -1.50533380e+00, -1.15595539e+00, -2.90783285e-01,
       -2.84750248e-01,  3.04723409e-01, -6.35005449e-01, -7.17047920e-01,
        7.99005721e-02,  3.41713080e-01,  9.42920787e-01,  6.31830374e-01,
       -1.46436652e+00, -3.41010779e-01, -1.13822956e+00, -5.98861727e-02,
        6.53021359e-01,  6.15673433e-02,  7.63800520e-01, -9.56175414e-01,
        1.00482301e+00,  1.31770777e+00,  2.18411684e-01, -5.59614397e-01,
       -6.71673988e-01,  4.72127335e-01,  3.76511699e-01, -8.13690266e-01,
        1.11609372e+00, -9.69014475e-01,  1.75946106e+00,  3.45081067e-01,
        2.86745279e-01, -4.71573527e-01, -9.80768304e-01,  2.10653928e-01,
       -1.68439899e+00,  1.92100189e+00, -6.82126904e-01,  5.88587593e-01,
       -1.47930269e+00,  9.43551423e-02, -1.90452434e+00, -5.78297133e-01])

In [77]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts() #porcentajes que indican c√≥mo se deben dividir los datos

(-2.903, -1.336]     100
(-1.336, -0.0113]    400
(-0.0113, 1.23]      400
(1.23, 3.681]        100
Name: count, dtype: int64

-----------------------------------

### Detecci√≥n y filtrado de valores at√≠picos (outliers)

In [78]:
data = pd.DataFrame(np.random.standard_normal((50, 4)))
data

           0         1         2         3
0  -0.549387  2.500095 -0.312986 -0.428554
1  -1.009456 -0.091466  0.403415  1.362264
2  -0.414647 -1.160948  0.435590  1.025078
3  -0.155117 -0.436029  1.210193  0.092144
4   0.040193 -0.659973  0.425066 -1.000703
5   0.548556 -2.692810  0.239153 -0.908703
6  -0.588691  0.081287 -0.016639  0.483252
7   0.592319 -0.007525  0.353154  0.336143
8  -1.689028  0.627111 -1.005869  0.601956
9   1.864030  0.200176 -0.203874 -0.096117
10  0.360746 -0.416744 -0.439729  0.568803
11  0.127237  0.078221  0.510095  0.409170
12  0.872628  1.074202  0.823915 -0.875963
13  1.260756 -2.132920 -1.853466 -0.347698
14  0.650858 -1.130402  0.151973  0.529167
15  0.061810 -1.500397 -0.150003 -1.683937
16 -1.238104  0.316431 -1.641312  1.499773
17  0.450312  1.198352 -0.269652  1.047381
18  0.673755 -1.365447  0.079281  0.471325
19  0.257014 -1.526129  0.297928  1.193264
20 -0.121573  0.401007  0.476462 -0.324080
21  0.840929 -2.711853 -1.817205  0.282217
22 -0.109162 -1.684771  0.862095  0.998554
23  0.551336 -0.614516 -0.034202  1.404425
24  0.482728 -1.255621 -1.207945  0.114604
25 -0.353545  0.177780  1.989367  0.280734
26 -0.467968 -0.155717 -1.264346 -0.147835
27  0.368975 -0.776052 -1.187607 -0.929279
28  0.103447 -1.378830  0.051513  0.264991
29  0.358618 -2.198916 -0.145025 -0.474329
30  0.047588  1.168610 -0.073923  0.440530
31  0.508873  0.391163 -1.342301 -1.211395
32 -0.995104  0.206534  0.716441  0.165169
33  1.190712 -0.144592  0.793536  1.080068
34 -0.119937 -0.278125 -0.499389 -0.208272
35 -0.341589 -1.430208  0.109686 -1.221185
36  0.419300  0.517667  0.598954  0.093596
37 -0.505708  1.239307  0.052902 -2.464253
38  0.252002 -0.065663 -0.549538  0.038178
39 -0.737203 -0.189554 -0.631276 -0.171750
40  0.384041  0.427517 -1.216606 -0.974134
41 -0.026612  0.312969 -0.526837 -0.211235
42  0.864968  0.291400  1.529180 -0.236560
43  1.559039 -0.888208  0.810895  1.727135
44  1.205236  0.110905  1.045480  2.235604
45  0.603615 -0.807975  3.018854  1.589379
46  0.418074  0.769289  1.141681 -1.082252
47 -0.920031  0.502088  0.349618 -1.151656
48 -0.996921 -0.477292 -0.368345 -0.100854
49  0.803793 -0.061809  0.176414  1.642861

In [79]:
data.describe()

               0          1          2          3
count  50.000000  50.000000  50.000000  50.000000
mean    0.147674  -0.312968   0.037895   0.114540
std     0.734964   1.052833   0.950657   0.970667
min    -1.689028  -2.711853  -1.853466  -2.464253
25%    -0.350556  -1.069854  -0.484474  -0.408340
50%     0.254508  -0.118029   0.066091   0.104100
75%     0.582073   0.315565   0.501686   0.593667
max     1.864030   2.500095   3.018854   2.235604

In [80]:
col = data[2]
col

0    -0.312986
1     0.403415
2     0.435590
3     1.210193
4     0.425066
5     0.239153
6    -0.016639
7     0.353154
8    -1.005869
9    -0.203874
10   -0.439729
11    0.510095
12    0.823915
13   -1.853466
14    0.151973
15   -0.150003
16   -1.641312
17   -0.269652
18    0.079281
19    0.297928
20    0.476462
21   -1.817205
22    0.862095
23   -0.034202
24   -1.207945
25    1.989367
26   -1.264346
27   -1.187607
28    0.051513
29   -0.145025
30   -0.073923
31   -1.342301
32    0.716441
33    0.793536
34   -0.499389
35    0.109686
36    0.598954
37    0.052902
38   -0.549538
39   -0.631276
40   -1.216606
41   -0.526837
42    1.529180
43    0.810895
44    1.045480
45    3.018854
46    1.141681
47    0.349618
48   -0.368345
49    0.176414
Name: 2, dtype: float64

In [81]:
col[col.abs() > 2]

45    3.018854
Name: 2, dtype: float64

In [82]:
data[(data.abs() > 2).any(axis="columns")]
# Verifica (o entra) por columnas pero selecciona toda la fila.

           0         1         2         3
0  -0.549387  2.500095 -0.312986 -0.428554
5   0.548556 -2.692810  0.239153 -0.908703
13  1.260756 -2.132920 -1.853466 -0.347698
21  0.840929 -2.711853 -1.817205  0.282217
29  0.358618 -2.198916 -0.145025 -0.474329
37 -0.505708  1.239307  0.052902 -2.464253
44  1.205236  0.110905  1.045480  2.235604
45  0.603615 -0.807975  3.018854  1.589379

In [83]:
data_1 = data[data.abs() > 2] 
data_1

     0         1         2         3
0  NaN  2.500095       NaN       NaN
1  NaN       NaN       NaN       NaN
2  NaN       NaN       NaN       NaN
3  NaN       NaN       NaN       NaN
4  NaN       NaN       NaN       NaN
5  NaN -2.692810       NaN       NaN
6  NaN       NaN       NaN       NaN
7  NaN       NaN       NaN       NaN
8  NaN       NaN       NaN       NaN
9  NaN       NaN       NaN       NaN
10 NaN       NaN       NaN       NaN
11 NaN       NaN       NaN       NaN
12 NaN       NaN       NaN       NaN
13 NaN -2.132920       NaN       NaN
14 NaN       NaN       NaN       NaN
15 NaN       NaN       NaN       NaN
16 NaN       NaN       NaN       NaN
17 NaN       NaN       NaN       NaN
18 NaN       NaN       NaN       NaN
19 NaN       NaN       NaN       NaN
20 NaN       NaN       NaN       NaN
21 NaN -2.711853       NaN       NaN
22 NaN       NaN       NaN       NaN
23 NaN       NaN       NaN       NaN
24 NaN       NaN       NaN       NaN
25 NaN       NaN       NaN       NaN
26 NaN       NaN       NaN       NaN
27 NaN       NaN       NaN       NaN
28 NaN       NaN       NaN       NaN
29 NaN -2.198916       NaN       NaN
30 NaN       NaN       NaN       NaN
31 NaN       NaN       NaN       NaN
32 NaN       NaN       NaN       NaN
33 NaN       NaN       NaN       NaN
34 NaN       NaN       NaN       NaN
35 NaN       NaN       NaN       NaN
36 NaN       NaN       NaN       NaN
37 NaN       NaN       NaN -2.464253
38 NaN       NaN       NaN       NaN
39 NaN       NaN       NaN       NaN
40 NaN       NaN       NaN       NaN
41 NaN       NaN       NaN       NaN
42 NaN       NaN       NaN       NaN
43 NaN       NaN       NaN       NaN
44 NaN       NaN       NaN  2.235604
45 NaN       NaN  3.018854       NaN
46 NaN       NaN       NaN       NaN
47 NaN       NaN       NaN       NaN
48 NaN       NaN       NaN       NaN
49 NaN       NaN       NaN       NaN

In [84]:
data_2 = np.sign(data) * 3
data_2

      0    1    2    3
0  -3.0  3.0 -3.0 -3.0
1  -3.0 -3.0  3.0  3.0
2  -3.0 -3.0  3.0  3.0
3  -3.0 -3.0  3.0  3.0
4   3.0 -3.0  3.0 -3.0
5   3.0 -3.0  3.0 -3.0
6  -3.0  3.0 -3.0  3.0
7   3.0 -3.0  3.0  3.0
8  -3.0  3.0 -3.0  3.0
9   3.0  3.0 -3.0 -3.0
10  3.0 -3.0 -3.0  3.0
11  3.0  3.0  3.0  3.0
12  3.0  3.0  3.0 -3.0
13  3.0 -3.0 -3.0 -3.0
14  3.0 -3.0  3.0  3.0
15  3.0 -3.0 -3.0 -3.0
16 -3.0  3.0 -3.0  3.0
17  3.0  3.0 -3.0  3.0
18  3.0 -3.0  3.0  3.0
19  3.0 -3.0  3.0  3.0
20 -3.0  3.0  3.0 -3.0
21  3.0 -3.0 -3.0  3.0
22 -3.0 -3.0  3.0  3.0
23  3.0 -3.0 -3.0  3.0
24  3.0 -3.0 -3.0  3.0
25 -3.0  3.0  3.0  3.0
26 -3.0 -3.0 -3.0 -3.0
27  3.0 -3.0 -3.0 -3.0
28  3.0 -3.0  3.0  3.0
29  3.0 -3.0 -3.0 -3.0
30  3.0  3.0 -3.0  3.0
31  3.0  3.0 -3.0 -3.0
32 -3.0  3.0  3.0  3.0
33  3.0 -3.0  3.0  3.0
34 -3.0 -3.0 -3.0 -3.0
35 -3.0 -3.0  3.0 -3.0
36  3.0  3.0  3.0  3.0
37 -3.0  3.0  3.0 -3.0
38  3.0 -3.0 -3.0  3.0
39 -3.0 -3.0 -3.0 -3.0
40  3.0  3.0 -3.0 -3.0
41 -3.0  3.0 -3.0 -3.0
42  3.0  3.0  3.0 -3.0
43  3.0 -3.0  3.0  3.0
44  3.0  3.0  3.0  3.0
45  3.0 -3.0  3.0  3.0
46  3.0  3.0  3.0 -3.0
47 -3.0  3.0  3.0 -3.0
48 -3.0 -3.0 -3.0 -3.0
49  3.0 -3.0  3.0  3.0

In [85]:
data_1.describe()

         0         1         2         3
count  0.0  5.000000  1.000000  2.000000
mean   NaN -1.447281  3.018854 -0.114324
std    NaN  2.223023       NaN  3.323300
min    NaN -2.711853  3.018854 -2.464253
25%    NaN -2.692810  3.018854 -1.289289
50%    NaN -2.198916  3.018854 -0.114324
75%    NaN -2.132920  3.018854  1.060640
max    NaN  2.500095  3.018854  2.235604

In [86]:
np.sign(data).head() #produce valores 1 y -1 en funci√≥n de si los valores de los datos son positivos o negativo

     0    1    2    3
0 -1.0  1.0 -1.0 -1.0
1 -1.0 -1.0  1.0  1.0
2 -1.0 -1.0  1.0  1.0
3 -1.0 -1.0  1.0  1.0
4  1.0 -1.0  1.0 -1.0

------------------------------------

### Permutaci√≥n y muestreo aleatorio

In [87]:
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df

    0   1   2   3   4   5   6
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
4  28  29  30  31  32  33  34

In [88]:
sampler = np.random.permutation(5)
sampler

array([4, 2, 3, 0, 1])

In [89]:
df.take(sampler)

    0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13

In [90]:
df.iloc[sampler]

    0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13

In [91]:
column_sampler = np.random.permutation(7)
column_sampler

array([6, 5, 3, 2, 1, 4, 0])

In [92]:
df.take(column_sampler, axis="columns")

    6   5   3   2   1   4   0
0   6   5   3   2   1   4   0
1  13  12  10   9   8  11   7
2  20  19  17  16  15  18  14
3  27  26  24  23  22  25  21
4  34  33  31  30  29  32  28

In [93]:
df.sample(n=3) #selecciona aleatoriamente

    0   1   2   3   4   5   6
1   7   8   9  10  11  12  13
4  28  29  30  31  32  33  34
0   0   1   2   3   4   5   6

In [94]:
choices = pd.Series([5, 7, -1, 6, 4])
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

In [95]:
choices.sample(n=10, replace=True) #Muestra con elecciones repetidas

4    4
3    6
1    7
1    7
1    7
3    6
2   -1
3    6
1    7
0    5
dtype: int64

-----------------------

### C√°lculo de indicadores/variables ficticias (dummy)

In [96]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b", "z"],
                   "data1": range(7)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
6   z      6

In [97]:
pd.get_dummies(df["key"], dtype=float)

     a    b    c    z
0  0.0  1.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  1.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0
4  1.0  0.0  0.0  0.0
5  0.0  1.0  0.0  0.0
6  0.0  0.0  0.0  1.0

In [98]:
dummies = pd.get_dummies(df["key"], prefix="key", dtype=float)
dummies

   key_a  key_b  key_c  key_z
0    0.0    1.0    0.0    0.0
1    0.0    1.0    0.0    0.0
2    1.0    0.0    0.0    0.0
3    0.0    0.0    1.0    0.0
4    1.0    0.0    0.0    0.0
5    0.0    1.0    0.0    0.0
6    0.0    0.0    0.0    1.0

In [99]:
df_with_dummy = df[["data1"]].join(dummies) # .join lo veremos a detalle mas adelante
df_with_dummy

   data1  key_a  key_b  key_c  key_z
0      0    0.0    1.0    0.0    0.0
1      1    0.0    1.0    0.0    0.0
2      2    1.0    0.0    0.0    0.0
3      3    0.0    0.0    1.0    0.0
4      4    1.0    0.0    0.0    0.0
5      5    0.0    1.0    0.0    0.0
6      6    0.0    0.0    0.0    1.0

============================================================================

Lectura del dataset movies.dat

In [100]:
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table('movies.dat', sep="::",
                       header=None, names=mnames, engine="python")

movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [130]:
dummies = movies["genres"].str.get_dummies("|")
dummies

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [132]:
dummies.iloc[:10, :6] #Seleccionan las filas de la 0 hasta la 9, y las columnas de la 1 hasta la 6.

   Action  Adventure  Animation  Children's  Comedy  Crime
0       0          0          1           1       1      0
1       0          1          0           1       0      0
2       0          0          0           0       1      0
3       0          0          0           0       1      0
4       0          0          0           0       1      0
5       1          0          0           0       0      1
6       0          0          0           0       1      0
7       0          1          0           1       0      0
8       1          0          0           0       0      0
9       1          1          0           0       0      0

In [133]:
movies_windic = movies.join(dummies.add_prefix("Genre_"))

In [134]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Action                                   0
Genre_Adventure                                0
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Crime                                    0
Genre_Documentary                              0
Genre_Drama                                    0
Genre_Fantasy                                  0
Genre_Film-Noir                                0
Genre_Horror                                   0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Romance                                  0
Genre_Sci-Fi                                   0
Genre_Thriller                                 0
Genre_War                                      0
Genre_Western                                  0
Name: 0, dtype: object

In [135]:
np.random.seed(12345) # para que el ejemplo sea repetible

values = np.random.uniform(size=10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [136]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [137]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0       False       False       False       False        True
1       False        True       False       False       False
2        True       False       False       False       False
3       False        True       False       False       False
4       False       False        True       False       False
5       False       False        True       False       False
6       False       False       False       False        True
7       False       False       False        True       False
8       False       False       False        True       False
9       False       False       False        True       False

----------------------------------

## 2.3 Extension de tipos de datos

In [139]:
s = pd.Series([1, 2, 3, 400, None])
s

0      1.0
1      2.0
2      3.0
3    400.0
4      NaN
dtype: float64

In [140]:
s.dtype

dtype('float64')

In [141]:
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [142]:
s.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [143]:
s.dtype

Int64Dtype()

In [144]:
s[3]

In [145]:
s[3] is pd.NA

True

In [115]:
s = pd.Series([1, 2, 3, None], dtype="Int64")
s

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [146]:
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
s

0      one
1      two
2     <NA>
3    three
dtype: string

======================================================================================

In [147]:
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})

df

     A      B      C
0  1.0    one  False
1  2.0    two   None
2  NaN  three  False
3  4.0   None   True

In [148]:
df["A"] = df["A"].astype("Int64")

In [149]:
df["B"] = df["B"].astype("string")

In [152]:
df["C"] = df["C"].astype("boolean")

In [151]:
df

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True

## 2.4 Manipulaci√≥n de cadenas (string)

In [155]:
val = "a,b,  separacion, es"
val.split(",")

['a', 'b', '  separacion', ' es']

In [156]:
pieces = [x.strip() for x in val.split(",")]
pieces

['a', 'b', 'separacion', 'es']

In [159]:
first, second, third, four = pieces
first + "::" + second + "::" + third + "::" + four

'a::b::separacion::es'

In [160]:
"::".join(pieces)

'a::b::separacion::es'

In [161]:
"separacion" in val

True

In [162]:
val.index(",")

1

In [163]:
val.find(":")

-1

In [164]:
val.index(":")

ValueError: substring not found

In [165]:
val.count(",")

3

In [166]:
val.replace(",", "::")

'a::b::  separacion:: es'

In [167]:
val.replace(",", "")

'ab  separacion es'

-----------------------------------------------------------

### Expresiones Regulares

La expresi√≥n regular que describe uno o m√°s caracteres de espacio en blanco es `\s+`:

In [169]:
import re

text = "foo  bar\t baz  \tqux"
text

'foo    bar\t baz  \tqux'

In [170]:
re.split(r"\s+", text)

['foo', 'bar', 'baz', 'qux']

In [171]:
regex = re.compile(r"\s+")

regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [172]:
regex.findall(text) #lista de todos los patrones que coincidan con la expresi√≥n regular

['    ', '\t ', '  \t']

In [173]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""

pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

# re.IGNORECASE hace que la expresi√≥n regular no distinga 
# entre may√∫sculas y min√∫sculas. 
regex = re.compile(pattern, flags=re.IGNORECASE)

In [174]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [175]:
m = regex.search(text)
m

In [176]:
text[m.start():m.end()]

'dave@google.com'

In [177]:
print(regex.match(text))

None

In [178]:
print(regex.sub("REDACTED", text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [179]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"

regex = re.compile(pattern, flags=re.IGNORECASE)

In [180]:
m = regex.match("wesm@bright.net")

m.groups()

('wesm', 'bright', 'net')

In [181]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [182]:
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

-------------------------------

### Funciones de cadena en pandas

In [183]:
data = {"Dave": "dave@google.com",
        "Steve": "steve@gmail.com",
        "Rob": "rob@gmail.com",
        "Wes": np.nan}

data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [184]:
data.isna()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [185]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [186]:
data_as_string_ext = data.astype('string')
data_as_string_ext

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                 <NA>
dtype: string

In [187]:
data_as_string_ext.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes       <NA>
dtype: boolean

In [188]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [189]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]
# La l√≠nea .str[0] se utiliza para obtener la primera tupla
# de la lista, que contiene los valores encontrados para el 
# primer grupo de captura en la expresi√≥n regular.
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [190]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [191]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [192]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN

---------------------------------------------------------------------

## 2.5 Datos Categ√≥ricos

In [193]:
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [194]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [195]:
pd.value_counts(values)

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\3297668723.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(values)

apple     6
orange    2
Name: count, dtype: int64

In [196]:
values = pd.Series([0, 1, 0, 0] * 2)
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [197]:
dim = pd.Series(['apple', 'orange'])
dim

0     apple
1    orange
dtype: object

In [198]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

---------------------------------------------------------------

### Extension de tipos de datos categ√≥ricos en Pandas

In [199]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [200]:
N = len(fruits)
N

8

In [201]:
rng = np.random.default_rng(seed=12345)

In [202]:
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                    columns=['basket_id', 'fruit', 'count', 'weight'])

df

   basket_id   fruit  count    weight
0          0   apple     11  1.564438
1          1  orange      5  1.331256
2          2   apple     12  2.393235
3          3   apple      6  0.746937
4          4   apple      5  2.691024
5          5  orange     12  3.767211
6          6   apple     10  0.992983
7          7   apple     11  3.795525

In [203]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [204]:
c = fruit_cat.array
type(c)

pandas.core.arrays.categorical.Categorical

In [205]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [206]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [207]:
dict(enumerate(c.categories))

{0: 'apple', 1: 'orange'}

In [208]:
df['fruit'] = df['fruit'].astype('category')

In [209]:
df["fruit"]

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [210]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [211]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]

In [212]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [213]:
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [214]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

-------------------------------------------------------

### C√°lculos con datos categor√≠as

In [216]:
rng = np.random.default_rng(seed=12345)

draws = rng.standard_normal(1000)

draws[:5]

array([-1.42382504,  1.26372846, -0.87066174, -0.25917323, -0.07534331])

In [217]:
bins = pd.qcut(draws, 4)
bins

[(-3.121, -0.675], (0.687, 3.211], (-3.121, -0.675], (-0.675, 0.0134], (-0.675, 0.0134], ..., (0.0134, 0.687], (0.0134, 0.687], (-0.675, 0.0134], (0.0134, 0.687], (-0.675, 0.0134]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.121, -0.675] < (-0.675, 0.0134] < (0.0134, 0.687] < (0.687, 3.211]]

In [218]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

['Q1', 'Q4', 'Q1', 'Q2', 'Q2', ..., 'Q3', 'Q3', 'Q2', 'Q3', 'Q2']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [219]:
bins.codes[:10]

array([0, 3, 0, 1, 1, 0, 0, 2, 2, 0], dtype=int8)

In [220]:
bins = pd.Series(bins, name='quartile')

In [221]:
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
# el m√©todo agg calcula las estad√≠sticas resumidas para cada grupo, 
# en este caso, el n√∫mero de elementos en cada grupo, 
# el valor m√≠nimo y el valor m√°ximo.
results

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_2360\2441121649.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(bins)

  quartile  count       min       max
0       Q1    250 -3.119609 -0.678494
1       Q2    250 -0.673305  0.008009
2       Q3    250  0.018753  0.686183
3       Q4    250  0.688282  3.211418

In [222]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

----------------------------------------------------------------------------

### Mejor rendimiento con categ√≥ricos

In [223]:
N = 10_000_000

In [224]:
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
labels

0          foo
1          bar
2          baz
3          qux
4          foo
          ...
9999995    qux
9999996    foo
9999997    bar
9999998    baz
9999999    qux
Length: 10000000, dtype: object

In [225]:
categories = labels.astype('category')

In [226]:
labels.memory_usage(deep=True)

600000132

In [227]:
categories.memory_usage(deep=True)

10000544

In [228]:
%time _ = labels.astype('category')

CPU times: total: 469 ms
Wall time: 469 ms

Las operaciones `GroupBy` pueden ser significativamente m√°s r√°pidas con categ√≥ricas porque los algoritmos subyacentes utilizan arrays de c√≥digos basada en enteros en lugar de un array  de cadenas. Aqu√≠ comparamos el rendimiento de value_counts(), que utiliza internamente la maquinaria `GroupBy`:

In [ ]:
 %timeit labels.value_counts()

718 ms ¬± 72.3 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit categories.value_counts()

115 ms ¬± 7.31 ms per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

###  M√©todos categ√≥ricos

Las series que contienen datos categ√≥ricos disponen de varios m√©todos especiales similares a los m√©todos de cadena especializados de Series.str. Esto tambi√©n proporciona un acceso conveniente a las categor√≠as y c√≥digos. Considere la Serie:

In [ ]:
 s = pd.Series(['a', 'b', 'c', 'd'] * 2)
    
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

El atributo especial de acceso `cat` proporciona acceso a m√©todos categ√≥ricos:

In [ ]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [ ]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

Supongamos que sabemos que el conjunto real de categor√≠as para estos datos se extiende m√°s all√° de los cuatro valores observados en los datos. Podemos utilizar el m√©todo `set_categories` para cambiarlas:

In [ ]:
actual_categories = ['a', 'b', 'c', 'd', 'e']

cat_s2 = cat_s.cat.set_categories(actual_categories)

cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

Aunque parezca que los datos no cambian, las nuevas categor√≠as se reflejar√°n en las operaciones que las utilicen. Por ejemplo, value_counts respeta las categor√≠as, si est√°n presentes:

In [ ]:
 cat_s.value_counts()

a    2
b    2
c    2
d    2
Name: count, dtype: int64

In [ ]:
cat_s2.value_counts()

a    2
b    2
c    2
d    2
e    0
Name: count, dtype: int64

En grandes conjuntos de datos, las categor√≠as se utilizan a menudo como una herramienta conveniente para ahorrar memoria y mejorar el rendimiento. Despu√©s de filtrar un gran DataFrame o Series, muchas de las categor√≠as pueden no aparecer en los datos. Para ayudar con esto, podemos utilizar el m√©todo remove_unused_categories para recortar las categor√≠as no observadas:

In [ ]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [ ]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

### Creaci√≥n de variables ficticias para la modelizaci√≥n

Cuando se utilizan herramientas estad√≠sticas o de aprendizaje autom√°tico, a menudo se transforman los datos categ√≥ricos en variables ficticias, lo que tambi√©n se conoce como codificaci√≥n de una sola vez (one-hot encoding). Esto implica crear un DataFrame con una columna para cada categor√≠a distinta; estas columnas contienen 1s para ocurrencias de una categor√≠a dada y 0 en caso contrario.

Consideremos el ejemplo anterior:

In [ ]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

Como se ha mencionado anteriormente , la funci√≥n pandas.get_dummies convierte estos datos categ√≥ricos unidimensionales en un DataFrame que contiene la variable ficticia:

In [ ]:
pd.get_dummies(cat_s, dtype=float)

     a    b    c    d
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0
5  0.0  1.0  0.0  0.0
6  0.0  0.0  1.0  0.0
7  0.0  0.0  0.0  1.0